{% extends "layout.html" %}
{% load static %}
{% load page_tags %}
{% block meta %}
{{ block.super }}
<meta property="og:url" content="/pages">
{% endblock %}

{% block body %}

<div class="container-fluid pages-listing col-lg-11 col-md-11 col-sm-10 col-xs-12 mt-3">
	<h1>Articles</h1>
    {% for misc_page in pages %}
        <a href="{{ misc_page.page_url }}" class="manga-card smol" style="background-image: url({{ misc_page.cover_image_url }})">
		<picture style="background-image: url({{ misc_page.cover_image_url }})">
  			<img src="{{ misc_page.cover_image_url }}" class="" alt="We Want to Talk About Kaguya">
		</picture>
		<article>
			<h2>{{ misc_page.page_title }}<script type="text/javascript" style="display: none">
				var scripts = document.getElementsByTagName( 'script' );
				var me = scripts[ scripts.length - 1 ];
				var outer = '<time datetime="'+new Date({{ misc_page.date }}*1000).toISOString().split('T')[0]+'" class="article-date">' + new Date({{ misc_page.date }}*1000).toLocaleDateString("en-US") + '</time>'
				me.outerHTML = outer;
			</script></h2>
			{{ misc_page.preview | default_if_none:"" | convert_to_markdown | safe }}
		</article>
	</a>
    {% endfor %}
</div>

{% endblock %}
