{% extends "layout.html" %}
{% load static %}
{% block head %}
    <title>About Ka.guya.moe</title>
{% endblock %}

{% block body %}
    <div class="container-fluid ">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8 col-md-10 mt-3">
                <h3>Credits</h3>
                <p>- Appu (appu#4444 on Discord, appu1232 on Reddit) - Backend, database, series pages, parts of home page, and hosting the site.</p>
                <p>- Algoinde (Algoinde#8377 on Discord, Algoinde on Reddit) - Reader. All of it. From scratch.</p>
                <p>- Pyreko (Phroyo#5964 on Discord) - Indexed the entire main series (searchable by text) using Microsoft's OCR and text recognition tool.</p>
                <p>- JZ (JZ#4616 on Discord, JingzOoi on Reddit) - Home page.</p>
                <p>- Reimiliya (Reimillya#8888 on Discord, Reimillya on Reddit) - Logo and 404 page.</p>
            </div>
            <div class="col-lg-8 col-md-10 mt-3">
                <h3>What's this site?</h3>
                <p>This is a site that exclusively hosts english scanlated (quality) chapters of the manga <i>Kaguya-sama wa Kokurasetai: Tensai-tachi no Renai Zunousen.</i> The official english title is <i>Kaguya-sama: Love is War</i> and the unofficial beloved english fan translated title is <i>Kaguya Wants To Be Confessed To</i></p>
                <p>Furthermore, this site aims to be the best in terms of speed and providing a great reader.</p>
                <p>This project was done for fun by members of the Kaguya-sama Discord (listed above) and will continue to stay up for as long as possible. All chapters are updated automatically through the use of scrapers so this site should be up to date pretty much whenever you visit.</p>
            </div>
        </div>
    </div>
{% endblock %}