{% extends "layout.html" %}
{% load static %}
{% block head %}
    <title>Guya.moe :: About</title>
    <meta name="twitter:description" content="A place to read the entirety of the Kaguya-sama: Love is War manga. No ads. No bad reader. All guya." />
    <meta property="og:description" content="A place to read the entirety of the Kaguya-sama: Love is War manga. No ads. No bad reader. All guya.">
    <meta name="description" content="A place to read the entirety of the Kaguya-sama: Love is War manga. No ads. No bad reader. All guya.">
    <style>
        body {
            background-image: none !important;
            background-color: #272B30 !important;
	}
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid ">
        <div class="row d-flex justify-content-center" style="font-size: 1rem">
            <div class="col-lg-9 col-md-10 mt-3">
                <h3>Credits</h3>
                <p>- Appu (appu#4444 on Discord, appu1232 on Reddit) - Backend dev. Database, series pages, parts of home page, and hosting the site.</p>
                <p>- Algoinde (Algoinde#8377 on Discord, Algoinde on Reddit) - Frontend dev. Made the reader. All of it. From scratch. Homepage and series page redesign.</p>
                <p>- JZ (JZ#4616 on Discord, JingzOoi on Reddit) - Part of homepage.</p>
                <p>- Reimillya (Reimillya#8888 on Discord, Reimillya on Reddit) - Logo and 404 page.</p>
                <p>- Pyreko (Phroyo#5964 on Discord) - Indexed the entire main series (searchable by text) using Microsoft's OCR and text recognition tool.</p>
		<p>- funkyhippo (funkyhippo#1316 on Discord) - Tachiyomi extension.</p>
            </div>
            <div class="col-lg-9 col-md-10 mt-3">
                <h3>What is guya.moe?</h3>
                <p>This is a site that exclusively hosts english scanlated (quality) chapters of the manga <i>Kaguya-sama wa Kokurasetai: Tensai-tachi no Renai Zunousen.</i> The official english title is <i>Kaguya-sama: Love is War</i> and the unofficial beloved english fan translated title is <i>Kaguya Wants To Be Confessed To</i></p>
                <p>Furthermore, this site aims to be the best in terms of speed and providing a great reader. We will also never sell ads or ask for money.</p>
                <p>All chapters are updated automatically through the use of scrapers so this site should be up to date pretty much whenever you visit.</p>
            </div>
            <div class="col-lg-9 col-md-10 mt-3">
                <h3>Why Did You Guys Make This?</h3>
                <p>We are big fans of the Kaguya-sama series and want people to enjoy reading this series as conveniently as possible. Currently, besides officially licensed releases (which aren't available for purchase everywhere anyway), the alternatives are sites that only have some of the chapters, sites that are littered with ads, and sites that that have a clunky/slow reader with no customizability options. We went about fixing all of those issues with this one site, but more than anything, we want to help people enjoy reading this manga.</p>
                <p>This project was done for fun by members of the Kaguya-sama Discord (listed above) and will continue to stay up for the foreseeable future.</p>
            </div>
            <div class="col-lg-9 col-md-10 mt-3">
                <h3>How Can I Support guya.moe?</h3>
                <p>Tell your friends to read Kaguya and tell them to read it here. :D If you run into issues or have suggestions, feel free to contact us on either Reddit or Discord (Appu or Algoinde, check the credits above) so we can try to make this site better.</p>
                <p>If you feel like donating to us, please don't. We aren't doing this for money nor do we need it to support this site. If you have money to spare, please consider supporting the author and buying legal copies of the Kaguya-sama series. <a target="_blank" href="https://www.amazon.com/gp/bookseries/B0778N11ZV">English</a> volumes and <a target="_blank" href="https://www.amazon.com/gp/bookseries/B0778N11ZV">JP</a> volumes.</p>
            </div>
            <div class="col-lg-9 col-md-10 mt-3">
                <h3>Some Handy Not-So-Obvious Features</h3>
                <p>- You can literally search for any word in the entirety of the main series. Yes, really. Hit the search icon (or ctrl/cmd + F) when viewing a chapter, input some text (e.g. how cute), hit enter, and you'll get results for every instance of the words in the manga! Pretty useful for finding that one line you loved but forgot what chapter it was in or just to experiment with it and find out cool callbacks and foreshadowing moments in this manga.</p>
                <p>- There's shorturls to any chapter or page of the main series. Example: <a href="https://guya.moe/5">https://guya.moe/5</a> for chapter 5. <a href="https://guya.moe/14/16">https://guya.moe/14/16</a> for chapter 14 page 16.</p>
                <p>- View the latest chapter with the shorturl: <a href="https://guya.moe/latest">https://guya.moe/latest</a></p>
                <p>- We have a load of customizability options so you can easily find the sweet spot view/look and feel when reading a chapter. There's a variety of options to let you fit the manga pages however you want on the screen, preload settings, layout direction (left to right, right to left, vertical), and more. Hover over the sidebar options to see tooltips for all the customization options. The sidebar is hideable as well. We spent considerable time planning out and fitting in a lot of customizabilty without falling behind on speed and snappiness of the reading experience.</p>
                <p>If you would like to suggest any features or provide some feedback about the site, don't hesitate to drop by the <a href="https://discordapp.com/invite/gAUAkzr">Discord Server</a> and ping Appu or Algoinde with your thoughts. We're always eager to make this site better!</p>
            </div>
        </div>
    </div>
{% endblock %}
