{% extends "layout.html" %}
{% load static %}
{% block head %}
<title>KaguyaLib</title>

<link href="{% static  'css/main.css' %}" rel="stylesheet" type="text/css">

<style>
	* {
		border: 0px solid red;
	}

	.img {
		height: auto;
		/* width: 20vw; */
	}
</style>

{% endblock %}

{% block body %}
<div class="container" style="background-image:url({% static 'img/bg_box.png' %})">
	<div class="row" style="padding:2vh">
		<div class="col-md-3">
			<div class="thumbnail img">
				<a href="/reader/series/Kaguya-Wants-To-Be-Confessed-To">
					<img class="img-fluid" src="{% static  'img/kaguyacover.jpg' %}">
					<div class="caption img">
						<p>Kaguya Wants to be Confessed to</p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="thumbnail img">
				<a href="/reader/series/Kaguya-Wants-To-Be-Confessed-To">
					<img class="img-fluid" src="{% static  'img/4komacover.jpg' %}">
					<div class="caption img">
						<p>We Want to Talk about Kaguya</p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="thumbnail img">
				<a href="/reader/series/Kaguya-Wants-To-Be-Confessed-To">
					<img class="img-fluid" src="{% static  'img/doujincover.jpg' %}">
					<div class="caption img">
						<p>Kaguya Wants to be Confessed to Official Doujin</p>
					</div>
				</a>
			</div>
			<div class="thumbnail"></div>
		</div>
	</div>
</div>
{% endblock %}