<!DOCTYPE html>
<html>

<head>
    <title>Kagudex</title>

    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <section class="header">
        <a href="home.html"><img style="height:80px;
			margin:10px 20px;" src="assets/img/logo_menu.png"></a>
        <button class="header-link">verify</button>
        <button class="header-link">read</button>
        <button class="header-link active">home</button>
    </section>

    <section style="position: relative; 
					background-image: url(assets/img/bg_box.png); 
					height:90vh">
        <div class="center" style="width:320px;
								   overflow:auto;padding:5vh;
								   background-color: transparent">
			<img src="assets/img/9784088912318.jpg" style="width:320px">
			<button title="pls" class="sp-button"
				onclick="window.open('https://books.shueisha.co.jp/items/contents.html?isbn=978-4-08-891231-8', '_blank')">throw
				money at
				aka</button>
        </div>

    </section>

    <section style="position: relative; 
					background-image: url(assets/img/bg_pink.gif);
					height:100vh">

		<div class="center">
			<p style="background-color: transparent;
					  margin-top: 30vh;
					  font-size: 60px">"Onodera is a better version of Hayasaka"<br>~appu, 2019</p>
			
		</div>

    </section>
	<section style="position:relative;
					background-color: #2a2a2a;
					height:50vh;">
		<div class="center" style="font-size: 14px;
					position: absolute;
					bottom:0;
					margin-bottom: 10vh">
			Kaguya-sama, the 4koma, the doujin, and the fancomics belong to their respective authors. <br>
			We don't really claim ownership on them using this website.<br>
			That would be, like, unethical, wouldn't it?
		</div>
	
	</section>
</body>

</html>