<!DOCTYPE html>
<html>

<head>
    <title>Kagudex</title>

    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <section class="header">
        <img src="assets/img/logo_menu.png">
        <button class="header-link">home</button>
        <button class="header-link">read</button>
        <button class="header-link">verify</button>
    </section>
    <section style="position: relative;background-image: url(assets/img/bg_box.png)">
        <div class="center" style="width:30%;overflow:auto;padding:5vh;background-color: transparent">
            <center>
                <img src="assets/img/9784088912318.jpg" style="width:320px">
                <button class="sp-button"
                    href="https://books.shueisha.co.jp/items/contents.html?isbn=978-4-08-891231-8">throw money at
                    aka</button>
            </center>
        </div>

    </section>

    <section style="position: relative; background-image: url(assets/img/bg_pink.gif);height:500px">



    </section>
</body>

</html>