.commento-root * {
    color: #ddd;
    }
    .commento-root .commento-card {
        border-top: 1px solid rgba(255,255,255,0.1);
    }
    .commento-root .commento-card:first-child {
        border-top: none;
    }
    .commento-name {
        color: #aaa !important;
    }
    .commento-root textarea {
        background: #161616;
        color: #ddd;
    }
    .commento-root .commento-round-check input[type="checkbox"] + label,
    .commento-root .commento-round-check input[type="radio"] + label {
        color: #aaa !important;
        position: relative;
    }

    .commento-root .commento-round-check input[type="checkbox"] + label:before,
    .commento-root .commento-round-check input[type="radio"] + label:before {
        top: 1px
    }