* {
	margin: 0;
	padding: 0;
	border: 0px solid red;
	background-color: black;
	color: white;
	font-size: 24px;
}

.center {
	display: table;
	margin: auto;
	width: 100vw;
	text-align: center;
}

.header {
	height:100px;
	width:100%;
	position:relative;
	top:0;
}

.header > * {
	display:inline-block;
	vertical-align: middle;
}

.header-link {
	float: right;
	margin:10px;
	width:10vw;
	height:5vh;
	padding:1vh 0
}

img {
	height:auto;
}

button {
	cursor: pointer;
}

.sp-button {
	background-color: #4b4b4b;
	width:320px;
	padding:10px;
}

.sp-button:hover {
	background-color: #e72e8c;
}