@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
}

body {
  font-family: "游ゴシック", YuGothic, "Helvetica", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Arial, sans-serif;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media screen and (min-width: 769px) {
  body {
    font-family: "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
  }
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

button, input, select, textarea {
  min-height: 1.5em;
  background-color: transparent;
}

input[type="submit"], input[type="reset"] {
  cursor: pointer;
}

.fb_iframe_widget > span {
  vertical-align: top !important;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  width: 100%;
  max-width: 1600px;
  min-width: 1280px;
  background: #000;
  font-size: 14px;
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-text-size-adjust: 100%;
}
body > iframe {
  display: none;
}

.wrapper {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  position: relative;
  padding-top: 80px;
  overflow: hidden;
}

body {
  width: 100%;
  max-width: 100%;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.sp {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  min-width: 1280px;
  height: 80px;
  background: #000;
}
.header img {
  max-width: 100%;
}
.header .hd_inner {
  position: relative;
  height: 80px;
}
.header .hd_inner .hd_logo {
  position: absolute;
  top: 50%;
  left: 25px;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  width: 275px;
}
.header .hd_inner .menuArea {
  position: absolute;
  top: 50%;
  right: 25px;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  letter-spacing: -.4em;
  text-align: right;
}
.header .hd_inner .menuArea .menu {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: normal;
}
.header .hd_inner .menuArea .menu .list {
  letter-spacing: -.4em;
  text-align: right;
}
.header .hd_inner .menuArea .menu .list li {
  display: inline-block;
  position: relative;
  margin-left: 26px;
  vertical-align: middle;
  letter-spacing: normal;
}
.header .hd_inner .menuArea .sns {
  display: inline-block;
  margin-left: 30px;
  vertical-align: middle;
  letter-spacing: normal;
}
.header .hd_inner .menuArea .sns .list {
  letter-spacing: -.4em;
  text-align: right;
}
.header .hd_inner .menuArea .sns .list li {
  display: inline-block;
  position: relative;
  margin-left: 15px;
  vertical-align: middle;
  letter-spacing: normal;
}
.header .hd_inner .menuArea .sns .list li:first-child {
  margin-left: 0;
}

.footer {
  position: relative;
}
.footer .pageTop {
  position: absolute;
  top: -52px;
  right: 0;
  left: 0;
  width: 100px;
  margin: auto;
  cursor: pointer;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
}
.footer .pageTop:hover {
  transform: translateY(15px);
  -webkit-transform: translateY(15px);
  -ms-transform: translateY(15px);
}
.footer .ft_inner {
  position: relative;
  padding: 50px 0 45px;
  background: #2a2a2a;
}
.footer .ft_inner .ft_share {
  margin-bottom: 45px;
}
.footer .ft_inner .ft_share .cap {
  width: 88px;
  margin: 0 auto 20px;
}
.footer .ft_inner .ft_share .shareList {
  letter-spacing: -.4em;
  text-align: center;
}
.footer .ft_inner .ft_share .shareList li {
  display: inline-block;
  width: 100px;
  vertical-align: top;
  letter-spacing: normal;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}
.footer .ft_inner .ft_share .shareList li:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  opacity: .7;
}
.footer .ft_inner .btn_movie {
  width: 300px;
  margin: 0 auto 45px;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}
.footer .ft_inner .btn_movie:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  opacity: .7;
}
.footer .ft_inner .attention {
  color: #fff;
  font-size: 12px;
  line-height: 2.2em;
  text-align: center;
}
.footer .ft_inner .anxLink {
  margin: 10px auto;
  letter-spacing: -.4em;
  text-align: center;
}
.footer .ft_inner .anxLink li {
  display: inline-block;
  position: relative;
  margin: 0 12px;
  vertical-align: top;
  font-size: 12px;
  line-height: 1;
  letter-spacing: normal;
}
.footer .ft_inner .anxLink li:before {
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  width: 1px;
  height: 100%;
  background: #535353;
}
.footer .ft_inner .anxLink li:last-child:before {
  display: none;
}
.footer .ft_inner .anxLink li a {
  color: #fff;
  text-decoration: none;
}
.footer .ft_inner .anxLink li a:hover {
  text-decoration: underline;
}
.footer .ft_inner .copy {
  color: #fff;
  font-size: 12px;
  line-height: 2.5em;
  text-align: center;
}

@media screen and (max-width: 48em) {
  body {
    width: 100%;
    max-width: 100%;
    min-width: 320px;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  .wrapper {
    padding-top: 0;
  }

  .sp_header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
  }
  .sp_header .menuBtn {
    position: absolute;
    top: 0;
    left: 0;
    width: 13%;
  }
  .sp_header .menuBtn:before {
    content: "";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/common/menu_sp/menu_close.png") top center no-repeat;
    background-size: 100% auto;
  }
  .sp_header .menuBtn.nowOpen img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
  }
  .sp_header .menuBtn.nowOpen::before {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
  }

  .hd_logo {
    position: absolute;
    top: 18px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    width: 46.2%;
  }

  .menuOverlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: -10px;
    left: 0;
    z-index: 100;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .menuOverlay .menu_container {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .menuOverlay .menu_container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    width: 100%;
    height: 100%;
    background: url("../img/common/menu_sp/bg_sp.png") top center no-repeat #e72e8c;
    background-size: cover;
  }
  .menuOverlay .menu_container .menuArea {
    position: relative;
    margin: 0 auto;
    padding: 50px 0;
  }
  .menuOverlay .menu_container .menuArea::after {
    content: "";
    display: table;
    clear: both;
  }
  .menuOverlay .menu_container .menuArea .menu {
    margin-bottom: 30px;
  }
  .menuOverlay .menu_container .menuArea .menu .list li {
    position: relative;
    width: 61.3%;
    margin: 0 auto;
    overflow: hidden;
  }
  .menuOverlay .menu_container .menuArea .sns .list {
    width: 93.3%;
    margin: 0 auto;
    letter-spacing: -.4em;
    text-align: center;
  }
  .menuOverlay .menu_container .menuArea .sns .list li {
    display: inline-block;
    position: relative;
    width: 48.5%;
    margin-bottom: 10px;
    margin-left: 3%;
    vertical-align: top;
    letter-spacing: normal;
  }
  .menuOverlay .menu_container .menuArea .sns .list li:nth-child(2n+1) {
    margin-left: 0;
  }

  .footer .pageTop {
    position: absolute;
    top: -25px;
    right: 0;
    left: 0;
    width: 50px;
    margin: auto;
    cursor: pointer;
  }
  .footer .pageTop:hover {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
  }
  .footer .ft_inner {
    position: relative;
    padding: 40px 0 30px;
  }
  .footer .ft_inner .ft_share {
    margin-bottom: 45px;
  }
  .footer .ft_inner .ft_share .cap {
    width: 132px;
    width: 17%;
    margin: 0 auto 15px;
  }
  .footer .ft_inner .ft_share .shareList li {
    width: 152px;
    width: 20%;
  }
  .footer .ft_inner .attention {
    width: 690px;
    width: 92%;
    margin: 0 auto;
    font-size: 11px;
    line-height: 1.8em;
  }
  .footer .ft_inner .anxLink {
    width: 690px;
    width: 92%;
    margin: 20px auto;
    letter-spacing: -.4em;
    text-align: center;
  }
  .footer .ft_inner .anxLink li {
    display: inline-block;
    position: relative;
    margin: 0 5px;
    vertical-align: top;
    font-size: 11px;
    line-height: 1;
    letter-spacing: normal;
  }
  .footer .ft_inner .anxLink li:before {
    right: -5px;
  }
  .footer .ft_inner .anxLink li a {
    color: #fff;
    text-decoration: none;
  }
  .footer .ft_inner .anxLink li a:hover {
    text-decoration: underline;
  }
  .footer .ft_inner .copy {
    width: 690px;
    width: 92%;
    margin: 0 auto;
    font-size: 11px;
    line-height: 1.8em;
  }
}