* {
	margin: 0;
	padding: 0;
	border: 1px solid red;
	background-color: black;
	color: white;
	font-size: 24px;
	font-family: "游ゴシック", YuGothic, "Helvetica", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Arial, sans-serif;
}

.center {
	display: table;
	margin: auto;
	width: 100vw;
	text-align: center;
}

.header {
	height:100px;
	width:100%;
	position:relative;
	top:0;
}

.header > * {
	display:inline-block;
	vertical-align: middle;
}

.header-link {
	float: right;
	margin:20px;
	width:10vw;
	height:60px;
	padding:.5vh 0
}

.header-link:hover {
	background-color: #e72e8c;
}

img {
	height:auto;
}

button {
	cursor: pointer;
}

.sp-button {
	background-color: #4b4b4b;
	width:320px;
	padding:10px;
	outline-color: #4b4b4b;
	outline-style: double;
}

.sp-button:hover {
	background-color: #e72e8c;
}