

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	position: relative;
	max-height: 100vh;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@supports (-webkit-overflow-scrolling: touch) {
	html, body {
		height: 100.1vh;
	}
}

button {
	border: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	background: none;
	border:none;
	unset: all;
}

button::-moz-focus-inner {
	border: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	background: none;
	border:none;
}

button:focus, option, details, summary {
	outline: none !important;
}

/* ---------------------- */

body {
	background: #272b30;
	font-size: 1.2rem;
	font-family: Open Sans, sans-serif;
	line-height: 1.3;
	color: #ddd;
}

main {
	display: flex;
	height: 100vh;
	width: calc(100vw+24px);
	overflow: hidden;
	max-height: 100vh;
	position: relative;
}

aside {
	height: 100vh;
    min-width: 16em;
	max-width: 16em;
	display: flex;
	flex-direction: column;
	background: #3a3f44;
	position: relative;
	transition: all 0.3s ease;
}

.hide-side::before {
	transition: all 0.3s ease;
}

aside > header {
	display: flex;
	align-items: flex-top;
	align-content: stretch;

}

.is-ico-button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px; 
	width: 3rem;
	height: 3rem;
	flex-shrink: 0;
	color: #eee;
	text-decoration: none;
	cursor: default;
	position: relative;
}
.is-ico-button:hover {
	color: #b2dffb;
	text-shadow: 0px 0px 2px rgba(0,0,0,1);
	top: -1px;
}

.is-ico-button {
	transition: all 0.1s ease, top 0s linear;
}

.is-ico-button:active {
	top: 0px;
}



header > h1 {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 1rem 0.5rem;
	font-size: 1rem;
	flex-grow: 1;
}

header > .close {
	cursor: pointer;
}
header > .close:before {
	content: "\e902";
}
header > .search:before {
	content: "⌕";
}

.rdr-aside-content {
	display: flex;
	width: 100%;
	flex-grow: 1;
	flex-direction: column;
}

.rdr-selector {
	display: flex;
	flex-direction: column;
	flex-grow: 0;
}

.rdr-selector > div {
	display: flex;
	align-items: stretch;
	align-content: stretch;
}
.rdr-selector select {
	flex-grow: 1;
	border: 0;
	background: transparent;
	color: #eee;
}
.rdr-selector option {
	color: #eee;
	background: #2b2f33;
	padding: 0.4em 0.2em;
	display: block;
	line-height: 1.3em;
	cursor: pointer;
}


.rdr-selector-top, .rdr-selector-bot {
	padding-left: 2rem;
	height: 2rem;
}

.rdr-selector-mid {
	height: 2.5rem;
	background: #2b2f33;

}

#message-box {
	flex-grow: 1;
	text-align: right;
	font-size: 0.7rem;
	padding: 0 1rem;
	line-height: 2.2rem;
	color: #aaa;
	opacity: 1;
	transition: opacity 0.3s ease;
}
.initFlash {
	animation: initFlash 2s;
}
.flash {
	animation: flash 0.5s;
}
.fade {
	animation: fade 0.5s;
}
.fadeOut {
	opacity: 0;
	transition: opacity 0.3s ease;
}

@keyframes flash {
	0% {
		color: white;
	}
	100% {
		color: #aaa;
		text-shadow: none;
	}
}
@keyframes initFlash {
	0% {
		background: rgba(255,255,255,0.3);
	}
	100% {
		background: none;
	}
}
@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.rdr-selector-mid .is-ico-button {
	height: 2.5rem;
	width: 2.5rem;
}


.rdr-selector-top
 .is-ico-button {
	height: 2.5rem;
	width: 3rem;
}
.rdr-selector-vol {
	height: 2rem;
}

.flex-spacer {
	flex-grow: 1000;
}

.rdr-selector-chap.prev:before {
	content: "\e904";
}
.rdr-selector-chap.next:before {
	content: "\e905";
}
.rdr-selector-vol.prev:before {
	content: "\e906";
}
.rdr-selector-vol.next:before {
	content: "\e903";
}
.is-ico-button.selpin:before {
	content: "\e901";
	transform: rotate(270deg);
}
.selector-pinned .is-ico-button.selpin:before {
	content: "\e900";
}
.is-ico-button.fitter {
	float: right;
}
.is-ico-button.fitter:before {
}
.is-ico-button.fitter.fit-height:before {
	content: "\e90e";
}
.is-ico-button.fitter.fit-width:before {
	content: "\e911";
}
.is-ico-button.fitter.fit-none:before {
	content: "\e90d";
}
.is-ico-button.layout:before {
	font-size: 0.8em;
}
.ltr .is-ico-button.layout:before {
	content: "\e907";
}
.rtl .is-ico-button.layout:before {
	content: "\e907";
	transform: scaleX(-1);
}
.ttb .is-ico-button.layout:before {
	content: "\e907";
	transform: rotate(90deg);
}
.is-ico-button.preload:before {
	content: "\e90a";
}
.Reader[data-preload="2"] .is-ico-button.preload:before {
	content: "\e90b";
}
.Reader[data-preload="3"] .is-ico-button.preload:before {
	content: "\e90c";
}
.Reader[data-preload="4"] .is-ico-button.preload:before {
	content: "\e914";
}
.Reader[data-preload="5"] .is-ico-button.preload:before {
	content: "\e915";
}
.Reader[data-preload="6"] .is-ico-button.preload:before {
	content: "\e916";
}
.Reader[data-preload="7"] .is-ico-button.preload:before {
	content: "\e917";
}
.Reader[data-preload="8"] .is-ico-button.preload:before {
	content: "\e918";
}
.Reader[data-preload="9"] .is-ico-button.preload:before {
	content: "\e919";
}
.Reader[data-preload="100"] .is-ico-button.preload:before {
	content: "\e91b";
}
.rdr-comment.is-ico-button:before {
	content: "\e91d";
font-size:0.9em;
}
.rdr-share.is-ico-button:before {
	content: "\e91e";
	
	
}
.rdr-page-selector .preloaded {
	border-left-color: #6699b9;
}


.rdr-vol-wrap {
	position: relative;
	flex-grow: 0;
	min-width: 2rem;
	overflow: hidden;
	font-size: 12px;
}

.rdr-chap-wrap {
	position: relative;
	flex-grow: 7;
	overflow: hidden;
	font-size: 12px;
}

.rdr-chap-wrap:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	top: 0;
	width: 2rem;
	background: linear-gradient(90deg, #2b2f3300 0%, #2b2f33 100%);
	pointer-events: none;
}

.rdr-vol-wrap label {
	justify-content: center;
}
.rdr-chap-wrap label {
	padding-left: 1ch;
	white-space: nowrap;
}

.rdr-vol-wrap:hover label, .rdr-chap-wrap:hover label {
	color: #b2dffb;
}

.rdr-groups {
	margin-top: 1rem;
	flex-grow: 0;
}

.rdr-groups div {
	font-size: 0.7em;
	padding: 0.7rem;
	text-emphasis: ;
	text-align: center;
	cursor: default;
}

.rdr-groups div:hover {
	background: rgba(255,255,255,0.03);
	color: #b2dffb;
}

.rdr-groups div.is-active {
    background: rgba(0,0,0,0.3);
    color: #eee;
 }

.rdr-previews {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	overflow: hidden;
	flex-basis: 0;
	flex-grow: 1;
}

.rdr-previews .header {
	display: flex;
	flex-wrap: nowrap;
	list-style: none;
	background: #34393d;
	flex-grow: 0;
	font-size: 0;
}

.rdr-previews .header:hover {
	color: #b2dffb;
}
.rdr-previews .header:hover .expander {
	color: #b2dffb;
}

.rdr-previews .header span {
 	display: flex;
 	align-items: center;
 	padding: 0 0 0 1rem;
	flex-grow: 1;
	font-size: 0.8rem;
}

.rdr-previews .header .expander {
	height: 2.6rem;
	font-size: 1.5rem;
}

.rdr-previews .header .expander:before {
	content: "\e905";
}

.previews-open .rdr-previews .header .expander:before {
	content: "\e903";
}

.rdr-previews-gallery {

	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding-top: 0.25rem;
	overflow: auto;
	display: none;
	max-height: calc(100% - 3rem);
}

.previews-open .rdr-previews-gallery {
	display: flex;
}

.rdr-previews-gallery img {
	flex-basis: 30%;
	width: 30%;
	margin-bottom: 0.50rem;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
	cursor: pointer;
}

.rdr-previews-gallery .is-active {
	opacity: 0.7;
	outline: 2px solid #6699b9;
}

.rdr-area {
	overflow: hidden;
	position: relative;
	min-height: 100%;
	flex-grow: 1;
	cursor: pointer;
}

.rdr-image-wrap {
	display: flex;
	height: 100%;
	width: 100%;
	position: relative;
	will-change: transform;
}

.rdr-image-wrap .WrappedImage {
	display: flex;
	min-width: 100%;
	min-height: 100%;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	overflow: auto;
}
.rdr-image-wrap .WrappedImage img {
	user-select: none;
}
.fit-width .rdr-image-wrap .WrappedImage img {
	min-width: 100%;
	max-width: 100%;
}

.fit-height .rdr-image-wrap .WrappedImage img {
	min-height: 100%;
	max-height: 100vh;
}

.fit-none .rdr-image-wrap .WrappedImage {
	min-height: 100vh;
}

.fit-none .rdr-image-wrap .WrappedImage img {
	flex-shrink: 0;
}


.rdr-image-wrap .too-wide {
	justify-content: flex-start !important;
	direction: rtl;
}


.ttb .rdr-image-wrap {
	transform: none !important;
	flex-direction: column;
	overflow-y: auto;
}

.ttb .WrappedImage {
	flex-shrink: 0;
	margin-bottom: 1em;
	min-height: 20%;
}

.ttb .WrappedImage img {
	box-shadow: 0 0 6px black;
}

/*
.rdr-float-prev, .rdr-float-next {
	position: absolute;
	top: 0;
	height: 100%;
	cursor: pointer;
	z-index: 2;
}

.rdr-float-prev {
	width: 30%;
}
.rdr-float-next {
	right: 0;
	width: 70%;
}
*/

.rdr-page-selector {
	height: 100vh;
	width: 1px;
	opacity: 0;
	position: relative;
	z-index: 3;
	transition: all .3s ease;
	min-width: 5rem;
	margin-right: -5rem;
	cursor: pointer;
}

.selector-pinned .rdr-page-selector,
.vis,
.rdr-page-selector:hover {
	opacity: 1 !important;
}

.rdr-page-selector:hover .rdr-page-selector-keys,
.rdr-page-selector.vis .rdr-page-selector-keys,
.selector-pinned .rdr-page-selector-keys {
	left: 3px;
}

.rdr-page-selector-keys {
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	left: 0em;
	transition: all .3s ease, opacity 0.2s ease;
}

.rdr-page-selector-keys div {
	flex-grow: 1;
	position: relative;
	z-index: 2;
	margin-bottom: 2px;
	border-left: 1px solid #555;
	transition: all 0.2s ease;
	position: relative;
	text-align: left;
	color: transparent;
	font-size: 2vh;
	line-height: 2vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 1em;
}

.rdr-page-selector-keys div:before {
	content: "";
	display: block;
	position: absolute;
	vertical-align: middle;
	margin-right: 1.4ch;
	height: 100%;
	width: 3px;
	left: -4px;
	background: #272b30;
}
.rdr-page-selector-keys div:after {
	content: "";
	display: block;
	height: 102%;
	width: 100%;
	position: absolute;
}

.rdr-page-selector-keys div:hover {
	border-left: 1px solid lightgray;
	box-shadow: 100px 0px 20px -100px rgba(255,255,255,0.5) inset, 100px 0px 20px -100px black inset;
	left: 2px;
	color: rgba(255,255,255,0.7);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7), -1px -1px 1px rgba(0,0,0,0.7), 1px -1px 1px rgba(0,0,0,0.7), -1px 1px 1px rgba(0,0,0,0.7);
}

.rdr-page-selector-keys div.is-active {
	border-left: 1px solid white;
	box-shadow: 100px 0px 20px -100px white inset;
	color: rgba(255,255,255,1);
	text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black;
}

.selector-pinned .rdr-page-selector-keys div.is-active {
	color: rgba(255,255,255,0.9)
}

.selector-pinned.nonum .rdr-page-selector-keys div.is-active {
	color: transparent;
	text-shadow: none;
}
.selector-pinned.nonum .rdr-page-selector-keys div.is-active:hover {
	color: rgba(255,255,255,1);
	text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black;
}


.rdr-page-selector-counter {
	display: none;
}


/*
.rdr-page-selector {
	margin-right: 0;
	margin-left: -5rem;
}

.rdr-page-selector-keys div::before {
	margin-right: 0;
	left: auto;
	right: -4px;
}

.rdr-page-selector-keys div {
	border-left: none;
	border-right: 1px solid #555;
	text-align: right;
	left: 0;
}

.rdr-page-selector-keys div:hover {
	border-left: none;
	left: 0;
	border-right: 1px solid lightgray;
	box-shadow: -100px 0px 20px -100px rgba(255,255,255,0.5) inset, -100px 0px 20px -100px black inset;
	left: -2px;
}

.rdr-page-selector-keys div.is-active {
	border-left: none;
	border-right: 1px solid white;
	box-shadow: -100px 0px 20px -100px white inset;
}


.rdr-page-selector-keys {
	right: 0;
}

.rdr-page-selector:hover .rdr-page-selector-keys,
.rdr-page-selector.vis .rdr-page-selector-keys {
	left: -20px;
}
*/


.hide-side {
	position: absolute;
	bottom: 0;
	right: 0;
	top: unset !important;
}

.hide-side::after {
	content: "\e905";
	transform: scaleX(-1);
	position: relative;
	top: 0.5rem;
	left: 0.6rem;
}

.hide-side::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 3rem 3rem;
	border-color: transparent transparent #2b2f33 transparent;
}

.hide-side:hover:before {
	border-color: transparent transparent #222529 transparent;
}

.sidebar-hidden aside {
	margin-left: -16em;
}

.sidebar-hidden .rdr-page-selector {
	height: calc(100vh - 3rem);
}

.sidebar-hidden .hide-side {
	right: -3rem;
	z-index: 20;
	transform: scaleX(-1);
}

.sidebar-hidden .hide-side::after {
	
}

.sidebar-hidden .hide-side {
}

.sidebar-hidden .hide-side::before {
	border-color: transparent transparent #3a3f44 transparent;
}
.sidebar-hidden .hide-side:hover:before {
	border-color: transparent transparent #2b2f33 transparent;
}

.zoom-level {
	top: 0;
	flex-direction: column;
	overflow: hidden;
	right: 0;
	padding: 2rem 3.5rem;
	opacity: 0.01;
	transition: opacity 0.3s ease;
	position: absolute;
	user-select: none;
	display: none;
}

.fit-width .zoom-level {
	display: block;
	animation: zoomFlash 3s;
}

@keyframes zoomFlash {
	0% {
		opacity: 0;
		padding: 2rem 0rem;
	}
	10% {
		opacity: 1;
		padding: 2rem 3.5rem;
	}
	70%{
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.zoom-level .is-ico-button {
	background: rgba(0,0,0,0.7);
	width: 3rem;
	height: 3rem;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.zoom-level .is-ico-button:last-child {
	width: 3rem;
	height: 3rem;
	border-radius: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-top: -1px;
}

.zoom-level .is-ico-button:hover {
	background: rgba(0,0,0,0.9);
}

.fit-width .zoom-level:hover {
	opacity: 1 !important;
	animation-play-state: paused;
}


.fit-width.zl10 .WrappedImage img {min-width: 10%; max-width: 10%}
.fit-width.zl20 .WrappedImage img {min-width: 20%; max-width: 20%}
.fit-width.zl30 .WrappedImage img {min-width: 30%; max-width: 30%}
.fit-width.zl40 .WrappedImage img {min-width: 40%; max-width: 40%}
.fit-width.zl50 .WrappedImage img {min-width: 50%; max-width: 50%}
.fit-width.zl60 .WrappedImage img {min-width: 60%; max-width: 60%}
.fit-width.zl70 .WrappedImage img {min-width: 70%; max-width: 70%}
.fit-width.zl80 .WrappedImage img {min-width: 80%; max-width: 80%}
.fit-width.zl90 .WrappedImage img {min-width: 90%; max-width: 90%}
.fit-width.zl100 .WrappedImage img{}
/*.zl11 .fit-width .WrappedImage img {min-width: 110%; max-width: 110%}
.zl12 .fit-width .WrappedImage img {min-width: 120%; max-width: 120%}
.zl13 .fit-width .WrappedImage img {min-width: 130%; max-width: 130%}
.zl14 .fit-width .WrappedImage img {min-width: 140%; max-width: 140%}
.zl15 .fit-width .WrappedImage img {min-width: 150%; max-width: 150%}
.zl16 .fit-width .WrappedImage img {min-width: 160%; max-width: 160%}
.zl17 .fit-width .WrappedImage img {min-width: 170%; max-width: 170%}
.zl18 .fit-width .WrappedImage img {min-width: 180%; max-width: 180%}
.zl19 .fit-width .WrappedImage img {min-width: 190%; max-width: 190%}
.zl20 .fit-width .WrappedImage img {min-width: 200%; max-width: 200%}*/


.Tooltippy {
	position: absolute;
	padding: 0.4em 0.8em;
	background: rgba(20,20,20,0.95);
	border-radius: 2px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	z-index: 1000;
	font-size: 11px;
	pointer-events: none; 
	display: none;
}

.Tooltippy .Tooltippy-key {
	display: inline-block;
	border: 1px solid rgba(255,255,255,0.2);
	padding: 0.1em 0.2em;
	min-width: 1em;
	text-align: center;
	border-radius: 2px;
	font-family: monospace;
	margin-left: 1ch;
}

.FauxDrop {
	position: relative;
	display: flex;
}

.FauxDrop select {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
}

.FauxDrop label {
	display: flex;
	flex-grow: 1;
	align-items: center;
	pointer-events: none;
}






@media (max-width: 700px) {
	main {
		flex-direction: column;
		height: auto;
		max-height: unset;
		max-height: auto;
		overflow: auto;
	}

	aside {
		min-width: 100vw;
		height: auto;
		position: relative;
		flex-shrink: 0;
	}	

	.rdr-page-selector {
		min-width: unset;
		margin-right: unset;
		position: fixed;
		width: 100vw;
		height: 1px;
		min-height: 3rem;
		bottom: 0;
		background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
	}

	.selector-pinned .rdr-page-selector,
	.vis,
	.rdr-page-selector:hover {
		
	}

	.rdr-page-selector:hover .rdr-page-selector-keys,
	.rdr-page-selector.vis .rdr-page-selector-keys,
	.selector-pinned .rdr-page-selector-keys {
		left: unset;
		bottom: 3px;
	}

	.rdr-page-selector-counter {
		position: absolute;
		width: 100%;
		height: 2.2rem;
		bottom: -3px;
		font-size: 0.7rem;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		color: white;
		text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 6px black;
		transition: all 0.3s ease;
	}
	.selector-pinned.nonum .rdr-page-selector-counter {
		opacity: 0;
	}

	.rdr-page-selector:hover .rdr-page-selector-counter,
	.rdr-page-selector.vis .rdr-page-selector-counter,
	.selector-pinned .rdr-page-selector-counter {
		bottom: 0px;
	}

	.rdr-page-selector-keys {
		height: unset;
		width: 100%;
		height: 100%;
		flex-direction: row;
		left: unset;
		bottom: 0;
	}

	.rdr-page-selector-keys div {
		margin-right: 1px;
		margin-bottom: unset;
		border-left: none;
		border-bottom: 1px solid #555;
		text-align: center;
		font-size: 3vw;
		min-width: 0px;
		align-items: flex-start;
		justify-content: center;
		padding-left: 0;
		font-size: 0;
		padding-bottom: 1em;
	}

	.rdr-page-selector-keys div:before {
		content: "";
		display: block;
		position: absolute;
		vertical-align: middle;
		margin-right: 1.4ch;
		height: 3px;
		width: 100%;
		left: 0;
		bottom: -4px;
	}
	.rdr-page-selector-keys div:after {
		content: "";
		display: block;
		height: 100%;
		width: 102%;
		position: absolute;
	}

	.rdr-page-selector-keys div:hover {
		border-left: none;
		border-bottom: 1px solid lightgray;
		box-shadow: 0px -100px 20px -100px rgba(255,255,255,0.5) inset, 0px -100px 20px -100px black inset;
		left: 0px;
		bottom: 2px;
	}

	.rdr-page-selector-keys div.is-active {
		border-left: none;
		border-bottom: 1px solid white;
		box-shadow:  0px -100px 20px -100px white inset;
	}

	.selector-pinned .rdr-page-selector-keys div.is-active {
	}
	.selector-pinned.nonum .rdr-page-selector-keys div.is-active {
	}
	.selector-pinned.nonum .rdr-page-selector-keys div.is-active:hover {
	}
	.rdr-page-selector .preloaded {
	    border-bottom-color: #6699b9;
	}

	.rdr-image-wrap {
		height: auto;
	}

	.fit-none .rdr-image-wrap .WrappedImage {
		justify-content: center;
	}

	.fit-height .rdr-image-wrap .WrappedImage {
		justify-content: center;
		min-height: 100vh;
		max-width: 100vw;
	}

	.fit-width .rdr-image-wrap .WrappedImage {
		min-height: 100vh;
		align-items: center;
	}

	.ttb.fit-width .rdr-image-wrap .WrappedImage {
		min-height: auto;
	}
	
	.hide-side {
		display: none !important;
	}

	.fit-width div.zoom-level {
		display: none;
	}

	.fit-width .WrappedImage img{
		min-width: 100% !important;
		max-width: 100% !important;
	}
/*
	.selector-pinned.fit-width div.zoom-level {
		display: block;
		bottom: 0;
		top: unset;
		position: fixed;
		padding: 
	}*/

	.Tooltippy-key {
		display: none;
	}


	.rdr-image-wrap:before {
		content: "\e904\00000A\00000A\00000A\e904\00000A\00000A\00000A\e904";
		font-family: 'guya';
		justify-content: flex-end;
		box-sizing: border-box;
		white-space: pre-wrap;
		display: flex;
		position: absolute;
		height: 100%;
		align-items: center;
		font-size: 3em;
		width: 50%;
		left: -50%;
		padding-right: 0.5em;
		color: #111;
	}

	.rdr-image-wrap div:last-child:after {
		content: "\e905\00000A\00000A\00000A\e905\00000A\00000A\00000A\e905";
		font-family: 'guya';
		justify-content: flex-start;
		box-sizing: border-box;
		white-space: pre-wrap;
		display: flex;
		position: absolute;
		height: 100%;
		align-items: center;
		font-size: 3em;
		width: 50%;
		right: -50%;
		padding-left: 0.5em;
		color: #111;
	}
}


.disabled {
	opacity: 0.2;
	pointer-events: none;
}
