{% load static %}
<meta name="referrer" content="no-referrer" />
<script src="{% static 'js/remotestorage.min.js' %}"></script>
<script src="{% static 'js/widget.min.js' %}"></script>
<script>
  // remoteStorage backend that'll be our plugged in module
  // This should be abstracted from what actually handles updates,
  // since this'll give us the ability to pull this out in the future
  const remoteStorage = (() => {
    const RS_PATH = "guya";
    // Define the schema for our history
    const Guya = {name: RS_PATH, builder: (private) => {
      // TODO: history pinning, and also consolidate viewed chapters
      // with the main SERIES_META schema
      const SERIES_META = "series";
      const REPLACEMENT_STR = "{SOURCE_SLUG_REPLACEMENT}";
      const SERIES_META_PATH_BASE = "series/";
      const SERIES_META_PATH = `${SERIES_META_PATH_BASE}${REPLACEMENT_STR}`;
  
      private.declareType(SERIES_META, {
        type: "object",
        properties: {
          slug: {
            type: "string"
          },
          coverUrl: {
            type: "string"
          },
          source: {
            type: "string"
          },
          url: {
            type: "string"
          },
          title: {
            type: "string"
          },
          timestamp: {
            type: "number"
          },
          chapters: {
            type: "array",
            default: [] // Note that these aren't validated by our schema handler
          },
          pinned: {
            type: "boolean",
            default: false // Thus it's documenting only; handle it
          }
        },
        required: ["slug", "source", "url", "title", "timestamp", "chapters", "pinned"]
      });
  
      let firstPartyValidator = (source) => {
        return (source === "manga" || source === "series" || source === "default");
      };
  
      let pathBuilder = (path, slug, source) => {
        if (!source) source = "default";
        if (firstPartyValidator(source)) source = "default";
        source = source.replace(" ", "_");
        return path.replace(REPLACEMENT_STR, `${source}-${slug}`);
      };
  
      let seriesBuilder = (slug, coverUrl, source, url, title, pinned, chapters) => {
        source = source.replace(" ", "_");
        if (firstPartyValidator(source)) pinned = true; // First party chapters always pinned
        return {
          slug: slug,
          coverUrl: coverUrl || "",
          source: source,
          url: url,
          title: title,
          timestamp: Date.now(),
          chapters: chapters || [],
          pinned: pinned
        };
      };
  
      return {
        exports: {
          slugBuilder: (slug, source) => {
            return `${source}-${slug}`;
          },
          addSeries: (slug, coverUrl, source, url, title, pinned, chapters) => {
            let toStore = seriesBuilder(slug, coverUrl, source, url, title, pinned, chapters);
            return private.storeObject(
              SERIES_META,
              pathBuilder(SERIES_META_PATH, slug, source),
              toStore);
          },
          editSeries: async (slug, coverUrl, source, url, title, pinned, chapters) => {
            let obj = await private.getObject(pathBuilder(SERIES_META_PATH, slug, source));
            if (obj) {
              let toStore = seriesBuilder(
                slug || obj.slug,
                coverUrl || obj.coverUrl,
                source || obj.source,
                url || obj.url,
                title || obj.title,
                (pinned !== undefined) ? pinned : obj.pinned,
                chapters || obj.chapters // Empty array is truthy
              );
              return private.storeObject(
                SERIES_META,
                pathBuilder(SERIES_META_PATH, slug, source),
                toStore
              )
            } else {
              // Fail-fast instead of adding the series
              throw new Error("Cannot edit a non-existent series.");
            }
          },
          getSeries: (slug, source) => {
            return private.getObject(pathBuilder(SERIES_META_PATH, slug, source));
          },
          removeSeries: (slug, source) => {
            return private.remove(pathBuilder(SERIES_META_PATH, slug, source));
          },
          getAllSeries: () => {
            // Note for the future: getAll gives you the objects within, while 
            // getListing gives you just a list of files; thus, this gives you the 
            // metadata within
            return private.getAll(SERIES_META_PATH_BASE);
          }
        }
      }
    }};

    let remoteStorage = new RemoteStorage({logging: true, modules: [Guya]});

    remoteStorage.access.claim(RS_PATH, "rw");
    remoteStorage.caching.enable(`/${RS_PATH}/`);

    return remoteStorage;
  })();

  // This will be the main handler that deals with both
  // chapter and series history. All logic should be here
  // and abstracted from the rest of the code
  const globalHistoryHandler = (() => {
    let addSeries = async (slug, coverUrl, source, url, title, chapters) => {
    };

    let removeSeries = async (slug, source) => {

    };

    let addChapter = async (slug, source, chapter) => {

    };

    let addChapters = async (slug, source, chapters) => {

    };

    let removeAllChapters = async (slug, source) => {

    };

    let pinSeries = async (slug, source) => {

    };

    let unpinSeries = async (slug, source) => {

    };
  })();

  let MAX_CLICKS = 7;
  // Realistically, any browser that supports localStorage will
  // support arrow functions so tough luck, IE
  // This IIFE will act as a disgusting LRU cache
  let proxyHistoryHandler = (() => {
    let STORAGE_KEY = "proxyHistory";
    let MAX_VALUES = 20;

    let enabled = () => {
      return localStorage.getItem(STORAGE_KEY) ? true : false;
    };

    let sorted = (obj) => {
      let sortable = [];
      for (let s in obj) {
        sortable.push(obj[s]);
      }
      sortable.sort((f, s) => s.timestamp - f.timestamp);
      return sortable;
    }

    let getItems = async () => {
      let items = await remoteStorage.guya.getAllSeries();
      return sorted(items);
    };

    let deleteItem = async (proxySource, slug) => {
      return remoteStorage.guya.removeSeries(slug, proxySource);
    };

    let pushItem = async (coverUrl, proxySource, slug, url, title) => {
      if (enabled()) {
        let items = await getItems();
        if (!items.find((e) => e.slug === slug && e.source === proxySource.replace(" ", "_"))) {
          if (items.length + 1 > MAX_VALUES) {
            let last = items.pop();
            if (last.slug !== slug && last.source !== proxySource) {
              await remoteStorage.guya.removeSeries(last.slug, last.source);
            }
          }
        }
        await remoteStorage.guya.addSeries(slug, coverUrl, proxySource, url, title);
      }
    };

    let enableHistory = () => {
      let settings = localStorage.getItem("settings");
      localStorage.clear();
      if (settings) {
        localStorage.setItem("settings", settings);
      }
      localStorage.setItem(STORAGE_KEY, true);
    };

    let disableHistory = () => {
      remoteStorage.disconnect();
      let settings = localStorage.getItem("settings");
      localStorage.clear();
      if (settings) {
        localStorage.setItem("settings", settings);
      }
    };

    return {
      enabled: enabled,
      getItems: getItems,
      deleteItem: deleteItem,
      pushItem: pushItem,
      history: {
        enable: enableHistory,
        disable: disableHistory,
      },
      max: MAX_VALUES,
    };
  })();

  let deleteItem = (event, element, proxySource, slug) => {
    event.preventDefault();
    proxyHistoryHandler.deleteItem(proxySource, slug);
    element.parentElement.parentElement.parentElement.remove();
  };

  let proxyDestroyElements = () => {
    document.querySelectorAll(".proxy").forEach(e => e.remove());
    document.getElementById("rs-widget").remove();
  }

  let proxyInitElements = async () => {
    document
      .querySelector("[role='main']")
      .insertAdjacentHTML(
        "beforeend",
        "<h3 class='proxy' style='width:100%; padding-left:1rem;'>Proxy History</h3>"
      );
    let items = await proxyHistoryHandler.getItems();
    if (items.length) {
      items.forEach((item) => {
        document.querySelector("[role='main']").insertAdjacentHTML(
          "beforeend",
          `<a href="${item.url}" class="manga-card smol proxy" style="background-image: url('${item.coverUrl}')">
            <picture>
              <img src="${item.coverUrl}">
            </picture>
            <article>
              <h2>${item.title} <span class="tag">${item.source.replace("_", " ")}</span> <i class="fa fa-trash" onclick="deleteItem(event, this, '${item.source}', '${item.slug}');"></i></h2>
            </article>
          </a>`
        );
      });
    } else {
      document.querySelector("[role='main']").insertAdjacentHTML(
        "beforeend",
        `<div class="manga-card proxy" style="width:100%">
          <article>
              <p>Looks like you haven't used the proxy yet! This card will give you a short tutorial about how it works.</p>
              <p>Note that your history is unique to your browser session, and won't be shared with guya.moe. If you clear your cache then your history will disappear.</p>
              <br>
              <h4>MangaDex</h4>
              <p>Replace <code>mangadex.org</code> in the URL with <code>guya.moe</code>. For example, <code>https://mangadex.org/title/17274/</code> becomes <code>https://guya.moe/title/17274/</code>.</p>
              <br>
              <h4>NHentai</h4>
              <p>Replace <code>nhentai.net</code> in the URL with <code>guya.moe</code>. For example, <code>https://nhentai.net/g/1/</code> becomes <code>https://guya.moe/g/1/</code>.</p>
              <br>
              <h4>FoolSlide Sites</h4>
              <p>Append the FoolSlide site's URL to the end of <code>https://guya.moe/fs/</code>. For example, <code>https://jaiminisbox.com/reader/series/kaguya-wants-to-be-confessed-to</code> becomes <code>https://guya.moe/fs/https://jaiminisbox.com/reader/series/kaguya-wants-to-be-confessed-to</code>.</p>
              <p>Some FoolSlide enabled sites include:</p>
              <ul>
                <li><code>https://hentai.cafe/</code></li>
                <li><code>https://jaiminisbox.com/</code></li>
                <li><code>https://helveticascans.com/</code></li>
              </ul>
              <p>Once you start reading, this card will disappear and this section will fill up with your last <strong>${proxyHistoryHandler.max}</strong> series.</p>
              <p>You can also disable/enable this history feature at any time by clicking on the twintail Kaguya ${MAX_CLICKS} times. Note that it'll clear your history each time.</p>
              <p><i>Got a suggestion on how we could improve this feature? Use the feedback box with the envelope symbol on your top left!</i></p>
          </article>
        </div>`
      );
    }
  };

  if (window.location.pathname.includes("proxy/")) {
    if (proxyHistoryHandler.enabled()) {
      try {
        {% if cover_vol_url %}
          let coverUrl = "{{ cover_vol_url }}";
        {% elif cover %}
          let coverUrl = "{{ cover }}";
        {% else %}
          let coverUrl = "";
        {% endif %}

        let proxySource = window.location.pathname
          .split("/")
          .find((e) => e.includes("proxy"))
          .replace("_", " ");

        {% if slug %}
          let slug = "{{ slug }}";
        {% else %}
          let slug = "";
        {% endif %}

        {% if relative_url %}
          let url = "{{ relative_url }}".split(slug)[0] + slug;
        {% else %}
          let url = "";
        {% endif %}

        {% if series %}
          let title = "{{ series }}";
        {% elif title %}
          let title = "{{ title }}";
        {% else %}
          let title = "";
        {% endif %}

        if (proxySource && slug && url && title) {
          remoteStorage.on("ready", () => {
            proxyHistoryHandler.pushItem(coverUrl, proxySource, slug, url, title);
          });
        }
      } catch (e) {
        console.log("Failed pushing history", e);
      }
    }
  } else if (window.location.pathname === "/") {
    window.addEventListener("load", () => {
      let enabled = proxyHistoryHandler.enabled();
      let clicked = 0;
      document.getElementById("twintail-guya").addEventListener("click", (e) => {
        if (clicked < MAX_CLICKS) {
          clicked++;
          (e.target || e.srcElement).style.opacity = `${1 - clicked / 10}`;
        } else {
          (e.target || e.srcElement).style.opacity = "1";
          clicked = 0;
          if (enabled) {
            proxyHistoryHandler.history.disable();
            location.reload();
          } else {
            proxyHistoryHandler.history.enable();
            location.reload();
          }
          enabled = !enabled;
        }
      });
      if (enabled) {
        proxyInitElements();
      }
    });
  }

  window.addEventListener("load", () => {
    if (proxyHistoryHandler.enabled()) {
      if (document.getElementById("rs-widget")) {
        let widget = new Widget(remoteStorage, {logging: true, autoCloseAfter: 10});
        widget.attach("rs-widget");
      }
    }
  });
</script>
