{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg-dark">
   <head>
      <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"> </script>
      <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"> </script>
      <link rel="stylesheet" href="{% static  'css/bootstrap.min.css' %}">
      <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"> </script>
      {% block head %}
      {% endblock %}
   </head>
   <body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
         <a class="navbar-brand" href="/">KaguyaLib</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item">
               <a class="nav-link" href="/reader">Manga</a>
               </li>
               <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Other
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Fancomics</a>
                  <a class="dropdown-item" href="#">Indexer</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Buy me catgirls</a>
               </div>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="/about">About</a>
               </li>
            </ul>

         </div>
      </div>
   </nav>
   {% block body %}
   {% endblock %}
   </body>
</html>