<meta name="referrer" content="no-referrer" />
<script>
  let MAX_CLICKS = 7;
  // Realistically, any browser that supports localStorage will
  // support arrow functions so tough luck, IE
  // This IIFE will act as a disgusting LRU cache
  let proxyHistoryHandler = (() => {
    let STORAGE_KEY = "proxyHistory";
    let MAX_VALUES = 10;

    let enabled = () => {
      return localStorage.getItem(STORAGE_KEY) ? true : false;
    };

    let getItems = () => {
      let items = localStorage.getItem(STORAGE_KEY);
      if (items) {
        return JSON.parse(items);
      } else {
        return [];
      }
    };

    let deleteItem = (proxySource, slug) => {
      let items = getItems();
      localStorage.setItem(
        STORAGE_KEY,
        JSON.stringify(items.filter((e) =>
          e.slug !== slug || e.proxySource !== proxySource
        ))
      );
    };

    let pushItem = (coverUrl, proxySource, slug, url, title) => {
      if (enabled()) {
        let items = getItems().filter((e) =>
          e.slug !== slug || e.proxySource !== proxySource
        );
        if (items.length + 1 > MAX_VALUES) {
          items.pop();
        }
        localStorage.setItem(
          STORAGE_KEY,
          JSON.stringify([
            {
              coverUrl: coverUrl,
              proxySource: proxySource,
              slug: slug,
              url: url,
              title: title,
            },
            ...items,
          ])
        );
      }
    };

    let enableHistory = () => {
      localStorage.setItem(STORAGE_KEY, JSON.stringify([]));
    };

    let disableHistory = () => {
      localStorage.removeItem(STORAGE_KEY);
    };

    return {
      enabled: enabled,
      getItems: getItems,
      deleteItem: deleteItem,
      pushItem: pushItem,
      history: {
        enable: enableHistory,
        disable: disableHistory,
      },
      max: MAX_VALUES,
    };
  })();

  let deleteItem = (event, element, proxySource, slug) => {
    event.preventDefault();
    proxyHistoryHandler.deleteItem(proxySource, slug);
    element.parentElement.parentElement.parentElement.remove();
  };

  let proxyDestroyElements = () => {
    document.querySelectorAll(".proxy").forEach(e => e.remove());
  }

  let proxyInitElements = () => {
    document
      .querySelector("[role='main']")
      .insertAdjacentHTML(
        "beforeend",
        "<h3 class='proxy' style='width:100%; padding-left:1rem;'>Proxy History</h3>"
      );
    let items = proxyHistoryHandler.getItems();
    if (items.length) {
      items.forEach((item) => {
        document.querySelector("[role='main']").insertAdjacentHTML(
          "beforeend",
          `<a href="${item.url}" class="manga-card smol proxy" style="background-image: url('${item.coverUrl}')">
            <picture>
              <img src="${item.coverUrl}">
            </picture>
            <article>
              <h2>${item.title} <span class="tag">${item.proxySource}</span> <i class="fa fa-trash" onclick="deleteItem(event, this, '${item.proxySource}', '${item.slug}');"></i></h2>
            </article>
          </a>`
        );
      });
    } else {
      document.querySelector("[role='main']").insertAdjacentHTML(
        "beforeend",
        `<div class="manga-card proxy" style="width:100%">
          <article>
              <p>Looks like you haven't used the proxy yet! This card will give you a short tutorial about how it works.</p>
              <p>Note that your history is unique to your browser session, and won't be shared with guya.moe. If you clear your cache then your history will disappear.</p>
              <br>
              <h4>MangaDex</h4>
              <p>Replace <code>mangadex.org</code> in the URL with <code>guya.moe</code>. For example, <code>https://mangadex.org/title/17274/</code> becomes <code>https://guya.moe/title/17274/</code>.</p>
              <br>
              <h4>NHentai</h4>
              <p>Replace <code>nhentai.net</code> in the URL with <code>guya.moe</code>. For example, <code>https://nhentai.net/g/1/</code> becomes <code>https://guya.moe/g/1/</code>.</p>
              <br>
              <h4>FoolSlide Sites</h4>
              <p>Append the FoolSlide site's URL to the end of <code>https://guya.moe/fs/</code>. For example, <code>https://jaiminisbox.com/reader/series/kaguya-wants-to-be-confessed-to</code> becomes <code>https://guya.moe/fs/https://jaiminisbox.com/reader/series/kaguya-wants-to-be-confessed-to</code>.</p>
              <p>Some FoolSlide enabled sites include:</p>
              <ul>
                <li><code>https://hentai.cafe/</code></li>
                <li><code>https://jaiminisbox.com/</code></li>
                <li><code>https://helveticascans.com/</code></li>
              </ul>
              <p>Once you start reading, this card will disappear and this section will fill up with your last <strong>${proxyHistoryHandler.max}</strong> series.</p>
              <p>You can also disable/enable this history feature at any time by clicking on the twintail Kaguya ${MAX_CLICKS} times. Note that it'll clear your history each time.</p>
              <p><i>Got a suggestion on how we could improve this feature? Use the feedback box with the envelope symbol on your top left!</i></p>
          </article>
        </div>`
      );
    }
  };

  if (window.location.pathname.includes("proxy/")) {
    if (proxyHistoryHandler.enabled()) {
      try {
        {% if cover_vol_url %}
          let coverUrl = "{{ cover_vol_url }}";
        {% elif cover %}
          let coverUrl = "{{ cover }}";
        {% else %}
          let coverUrl = "";
        {% endif %}

        let proxySource = window.location.pathname
          .split("/")
          .find((e) => e.includes("proxy"))
          .replace("_", " ");

        {% if slug %}
          let slug = "{{ slug }}";
        {% else %}
          let slug = "";
        {% endif %}

        {% if relative_url %}
          let url = "{{ relative_url }}".split(slug)[0] + slug;
        {% else %}
          let url = "";
        {% endif %}

        {% if series %}
          let title = "{{ series }}";
        {% elif title %}
          let title = "{{ title }}";
        {% else %}
          let title = "";
        {% endif %}

        if (proxySource && slug && url && title) {
          proxyHistoryHandler.pushItem(coverUrl, proxySource, slug, url, title);
        }
      } catch (e) {
        console.log("Failed pushing history", e);
      }
    }
  } else if (window.location.pathname === "/") {
    window.addEventListener("load", () => {
      let enabled = proxyHistoryHandler.enabled();
      let clicked = 0;
      document.getElementById("twintail-guya").addEventListener("click", (e) => {
        if (clicked < MAX_CLICKS) {
          clicked++;
          (e.target || e.srcElement).style.opacity = `${1 - clicked / 10}`;
        } else {
          (e.target || e.srcElement).style.opacity = "1";
          clicked = 0;
          if (enabled) {
            proxyHistoryHandler.history.disable();
            proxyDestroyElements();
          } else {
            proxyHistoryHandler.history.enable();
            proxyInitElements();
          }
          enabled = !enabled;
        }
      });
      if (enabled) {
        proxyInitElements();
      }
    });
  }
</script>
