{% extends "layout.html" %} {% load static %} {% block head %}
<title>Read {{ title }} :: Guya.moe</title>
<meta name="twitter:description" content="A place to read the {{ title }} manga. No ads. No bad reader. All guya." />
<meta property="og:description" content="A place to read the {{ title }} manga. No ads. No bad reader. All guya.">
<meta name="description" content="Read {{ title }} manga. No ads. No bad reader. All guya.">
<meta name="author" content="{{ author }}">

<meta name="author" content="{{ author }}" />
<style>
  .center {
    text-align: center;
  }
  .button {
    background-color: #064064;
    color: white;
    width: 70%;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }
</style>
{% endblock %} {% block body %}
<div class="center"><a href="1/1" class="button">Read here</a></div>
{% endblock %}
