{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="theme-color" content="#2b2f33" />
		<title>{{ series_name }} :: Chapter {{ chapter_number }} | Guya.moe</title>
	    <meta name="twitter:title" content="{{ series_name }} - Chapter {{ chapter_number }} | Guya.moe">
	    <meta property="og:title" content="{{ series_name }} - Chapter {{ chapter_number }} | Guya.moe">
	    <meta name="description" content="Read chapter {{ chapter_number }} of {{ series_name }} | Guya.moe">
		<meta property="og:description" content="Read the Kaguya-sama: Love is War / Kaguya Wants to Be Confessed To manga series. No ads. No bad reader. All guya.">
	    <meta name="twitter:description" content="Read the Kaguya-sama: Love is War / Kaguya Wants to Be Confessed To manga series. No ads. No bad reader. All guya.">
	    <meta name="twitter:card" content="Everything Kaguya-sama">
		<meta property="og:image" content="https://i.imgur.com/jBhT5LV.png">
	    <meta name="twitter:image" content="https://i.imgur.com/jBhT5LV.png">
		<meta property="og:url" content="/read/manga/{{ slug }}">
	    <meta name="author" content="Akasaka Aka">
		<meta name="viewport" content="width=device-width">
		{% if hide_referrer %}
			<meta name="referrer" content="no-referrer">
		{% endif %}
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-WWRXZB4');</script>
		<!-- End Google Tag Manager -->
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153182310-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-153182310-1');
		</script>
		<link rel="canonical" href="https://guya.moe/{{ relative_url }}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/icons.css' %}{{ version_query }}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}{{ version_query }}">
		<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
		{% include "referral.html" %}
	</head>
	
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWRXZB4"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<main id="rdr-main" class="" tabindex="-1">
		<img class="preload-entity" id="scan_line" data-bind="preload_entity">
		<aside>
			<div class="hide-side" data-bind="sidebar_button"><div class="hide-side-actual is-ico-button"></div></div>
			<header>
				<a href="/" class="is-ico-button guya"></a>
				<h1 data-bind='title'><a href="/read/manga/{{ slug }}">{{ series_name }}</a></h1>
				<button class="is-ico-button"></button>
			</header>
			<div class="rdr-aside-buffer" data-bind="rdr_aside_buffer"></div>
			<div class="rdr-aside-content" data-bind="rdr_aside_content">
				<section class="rdr-selector" data-bind="rdr_selector">
					<div class="rdr-selector-top">
						<button data-bind='vol_next' class="rdr-selector-vol is-ico-button prev" data-tip="Previous volume"></button>
						<div class="flex-spacer" data-bind='message'></div>
						
						<a data-bind='share_button' data-tip="Short link to current page" class="rdr-share is-ico-button "></a>
						<!-- <a data-bind='comment_button' data-tip="Comments" class="rdr-comment is-ico-button"></a> -->
						<button data-bind='search' class="is-ico-button search"></button>
					</div>
					<div class="rdr-selector-mid">
						<button data-bind='chap_prev' class="rdr-selector-chap is-ico-button prev"></button>
						<div class="rdr-vol-wrap" data-bind='selector_vol'>
							<label></label>
							<select id="rdr-vol"></select>
						</div>
						<div class="rdr-chap-wrap" data-bind='selector_chap'>
							<label></label>
							<select id="rdr-chap"></select>
						</div>
						<button data-bind='chap_next' class="rdr-selector-chap is-ico-button next"></button>
					</div>
					<div class="rdr-selector-bot">
						<button data-bind='vol_prev' class="rdr-selector-vol is-ico-button next" data-tip="Next volume"></button>
						<div class="flex-spacer"></div>
						<button data-bind='preload_button' class="rdr-selector-vol is-ico-button preload"></button>
						<button data-bind='layout_button' class="rdr-selector-vol is-ico-button layout"></button>
						<button data-bind='fit_button' class="rdr-selector-vol is-ico-button fitter"></button>
						<button data-bind='spread_button' class="rdr-selector-vol is-ico-button spread"></button>
						<button data-bind='sel_pin_button' class="rdr-selector-vol is-ico-button selpin"></button>
					</div>
				</section>
				<section class="rdr-groups" data-bind='groups'>
				</section>
				<section class="rdr-previews">
					<div class="header" data-bind="previews_button">
						<span>Previews</span>
						<div class="is-ico-button expander"></div>
					</div>
					<div data-bind='previews' class="rdr-previews-gallery">
					</div>
				</section>
				<section class="rdr-aside-overlay hidden" data-bind="aside_views">
					<div class="rdr-aside-view fit_view UI Dummy ButtonGroup" data-bind="aside_views_fit">
						<div class="header">Fit mode</div>
						<div class="t-row">
							<div class="t-1">
								<div class="StatefulButton UI B	utton" data-bind="fit_none" data-tip="Images are displayed in natural resolution."><div class="is-ico-button fitter fit_none"></div><span>Original size</span></div>
							</div>
						</div>
						<div class="t-row">
							<div class="t-tooltip">
								Limit
							</div>
							<div class="t-1">
								<div class="StatefulButton UI Button" data-bind="fit_all_limit" data-tip="Natural image size that does not exceed max width or height."><div class="is-ico-button fitter fit_all_limit"></div><span>All</span></div>
								<div class="StatefulButton UI Button" data-bind="fit_width_limit" data-tip="Natural image size that does not exceed max width."><div class="is-ico-button fitter fit_width_limit"></div><span>Width</span></div>
								<div class="StatefulButton UI Button" data-bind="fit_height_limit" data-tip="Natural image size that does not exceed max height."><div class="is-ico-button fitter fit_height_limit"></div><span>Height</span></div>
							</div>
						</div>
						<div class="t-row">
							<div class="t-tooltip">
								Stretch
							</div>
							<div class="t-1">
								<div class="StatefulButton UI Button" data-bind="fit_all" data-tip="Images scale to width or height."><div class="is-ico-button fitter fit_all"></div><span>All</span></div>
								<div class="StatefulButton UI Button" data-bind="fit_width" data-tip="Images scale to max width."><div class="is-ico-button fitter fit_width"></div><span>Width</span></div>
								<div class="StatefulButton UI Button" data-bind="fit_height" data-tip="Images scale to max height."><div class="is-ico-button fitter fit_height"></div><span>Height</span></div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</aside>
		<div class="rdr-page-selector vis" data-bind="page_selector">
			<div class="rdr-page-selector-counter" data-bind="page_keys_count">
				
			</div>
			<div class="rdr-page-selector-keys" data-bind="page_keys">
			</div>
		</div>
		<content data-bind='image_viewer' class="rdr-area">
			<div class="rdr-image-wrap" data-bind='image_container' tabindex="-1">
			</div>
			<div class="zoom-level refresh-chapter is-hidden" data-bind="random_chapter">
				<div class="refresh-chapter-note">This is the Blu-ray extras "random chapter".<br>Click this button to reshuffle the chapter.</div>
				<div class="is-ico-button" data-bind="random_chapter_button">↻</div>
			</div>
			<div class="hover-prev" data-bind="hover_prev">
				<div class="hover-wrap">
					<div class="hover-arrow"></div>
					<div class="hover-sub"></div>
				</div>
			</div>
			<div class="hover-next" data-bind="hover_next">
				<div class="hover-wrap">
					<div class="hover-arrow"></div>
					<div class="hover-sub"></div>
				</div>
			</div>
		</content>
		<div class="zoom-level vis" data-bind="zoom_level">
			<div class="is-ico-button" data-bind="zoom_level_plus"></div>
			<div class="is-ico-button" data-bind="zoom_level_minus"></div>
		</div>
	</main>
	<div class="Tooltippy"></div>
	<div class="LodaManager hidden" tabindex="-1"></div>
</body>
<script type="text/javascript" src="{% static 'js/ResizeSensor.js' %}{{ version_query }}"></script>
<script type="text/javascript" src="{% static 'js/alg_lib.js' %}{{ version_query }}"></script>
<script type="text/javascript" src="{% static 'js/UI2.js' %}{{ version_query }}"></script>
<script type="text/javascript" src="{% static 'js/init.js' %}{{ version_query }}"></script>
</html>
