{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Guya.moe :: Reader loading...</title>
		<!--<script src="https://debugger.algoinde.ru/target/target-script-min.js#anonymous"></script>-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript" src="{% static 'js/alg_lib.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/UI2.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/icons.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
		<script>
			CSRF_TOKEN = "{{ csrf_token }}"
		</script>
	</head>
<body>
	<main id="rdr-main" class="ltr">
		<aside>
			<header>
				<a data-bind='close' href="/reader/series/{{ series_id }}" class="is-ico-button close"></a>
				<h1 data-bind='title'>Kaguya-sama wants to be confessed to: the geniuses love of war and brains!</h1>
				<button data-bind='search' class="is-ico-button search"></button>
			</header>
			<div class="rdr-aside-content">
				<section class="rdr-selector">
					<div class="rdr-selector-top">
						<button data-bind='vol_next' class="rdr-selector-vol is-ico-button prev"></button>
						<div id="message-box" data-bind='message'></div>
					</div>
					<div class="rdr-selector-mid">
						<button data-bind='chap_prev' class="rdr-selector-chap is-ico-button prev"></button>
						<div class="rdr-vol-wrap">
							<select data-bind='selector_vol'id="rdr-vol">
							</select>
						</div>
						<div class="rdr-chap-wrap">
							<select data-bind='selector_chap' id="rdr-chap">
							</select>
						</div>
						<button data-bind='chap_next' class="rdr-selector-chap is-ico-button next"></button>
					</div>
					<div class="rdr-selector-bot">
						<button data-bind='vol_prev' class="rdr-selector-vol is-ico-button next"></button>
						<div class="flex-spacer"></div>
						<button data-bind='preload_button' class="rdr-selector-vol is-ico-button preload"></button>
						<button data-bind='layout_button' class="rdr-selector-vol is-ico-button layout"></button>
						<button data-bind='fit_button' class="rdr-selector-vol is-ico-button fitter fit-width"></button>
						<button data-bind='sel_pin_button' class="rdr-selector-vol is-ico-button selpin fit-width"></button>
					</div>
				</section>
				<section class="rdr-groups" data-bind='groups'>
				</section>
				<section class="rdr-previews">
					<details>
						<summary>
							<span>Previews</span>
							<div class="is-ico-button expander"></div>
						</summary>
						<div data-bind='previews' class="rdr-previews-gallery">
							<img src="" alt="">
							<img src="" alt="">
							<img src="" alt="">
							<img src="" alt="">
							<img src="" alt="">
							<img src="" alt="">
							<img src="" alt="">
							<img src="" alt="">
							<img src="" alt="">
							<img src="" alt="">
							<img src="" alt="">
							<img src="" alt="">
							<img src="" alt="">
							<img src="" alt="">
							<img src="" alt="">
							<img src="" alt="">
							<img src="" alt="">
							<img src="" alt="">
						</div>
					</details>
				</section>
			</div>
		</aside>
		<div class="rdr-page-selector vis" data-bind="page_selector">
			<div class="rdr-page-selector-counter" data-bind="page_keys_count">
				
			</div>
			<div class="rdr-page-selector-keys" data-bind="page_keys">
			</div>
		</div>
		<content data-bind='image_viewer' class="rdr-area fit-width">
			<div class="rdr-image-wrap" data-bind='image_container'>
			</div>
		</content>
	</main>
</body>
<script type="text/javascript" src="{% static 'js/init.js' %}"></script>
		
</html>