{% extends "layout.html" %}
{% load static %}
{% block head %}
   <title>Read {{ series }} | Guya.moe</title>
   <meta name="twitter:description" content="Read the Kaguya-sama: Love is War / Kaguya Wants to Be Confessed To manga and spin-off series. No ads. No bad reader. All guya." />
   <meta property="og:description" content="Read the Kaguya-sama: Love is War / Kaguya Wants to Be Confessed To manga and spin-off series. No ads. No bad reader. All guya." />
   <meta name="description" content="Read {{ series }} manga series by {{ author }}.{{ alt_titles_str|safe }}">
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="Read {{ series }} | Guya.moe" />
	<meta name="twitter:image" content="https://i.imgur.com/jBhT5LV.png" />
	<meta property="og:image" content="https://i.imgur.com/jBhT5LV.png">
   <meta name="author" content="{{ author }}">
   <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"> </script>
   <script defer >
	function zpad(n){
		if(n < 10) return '0'+n;
		return n;
	}
	$(function () {
		if (localStorage.getItem("viewMode") === null) {
			window.localStorage.setItem("viewMode", 1)
		}
		listMode(window.localStorage.getItem("viewMode"));
	let latest_chap = "{{ last_added.0 }}";
	let latest_chap_date = new Date(parseInt({{ last_added.1 }}));
		Array.prototype.slice.call(document.querySelectorAll('.last-added')).forEach(el => {
		el.innerHTML = `Ch. ${latest_chap} - ${latest_chap_date.getFullYear()}-${zpad(latest_chap_date.getMonth()+1)}-${zpad(latest_chap_date.getDate())}`;
		})
	});
	$(document).ready(function(){
		let chapter_list = {{ chapter_list|safe }};
		var now = new Date();
		chapter_table = $("#chapterTable tr");
		var idx = 0;
		chapter_list.forEach((chapter) => {
			let chapter_date = new Date(Date.UTC(chapter[4][0], chapter[4][1], chapter[4][2], chapter[4][3], chapter[4][4], chapter[4][5], 0));
			let delta = Math.abs((now - chapter_date)) / 1000;
			let days = Math.floor(delta / 86400);
			delta -= days * 86400;
			let hours = Math.floor(delta / 3600) % 24;
			delta -= hours * 3600;
			let minutes = Math.floor(delta / 60) % 60;
			delta -= minutes * 60;
			let seconds = parseInt(delta % 60);
			if (days >= 7) {
			$(".detailed-chapter-upload-date")[idx].textContent = `${chapter_date.getFullYear()}-${zpad(chapter_date.getMonth()+1)}-${zpad(chapter_date.getDate())}`;
			$(".compact-chapter-upload-date")[idx].textContent = `${chapter_date.getFullYear()}-${zpad(chapter_date.getMonth()+1)}-${zpad(chapter_date.getDate())}`;
			$($(".compact-chapter-upload-date")[idx]).addClass('text-muted');
			}
			else if (days < 7 && days > 0) {
			$(".detailed-chapter-upload-date")[idx].textContent = `${days} day${days === 1 ? "" : "s"} ago`;
			$(".compact-chapter-upload-date")[idx].textContent = `${days} day${days === 1 ? "" : "s"} ago`;
			$($(".compact-chapter-upload-date")[idx]).addClass('text-muted');
			}
			else if (hours > 0) {
			$(".detailed-chapter-upload-date")[idx].textContent = `${hours} hour${hours === 1 ? "" : "s"} ago`;
			$($(".detailed-chapter-upload-date")[idx]).css({'color': 'green'});
			$(".compact-chapter-upload-date")[idx].textContent = `${hours} hour${hours === 1 ? "" : "s"} ago`;
			$($(".compact-chapter-upload-date")[idx]).css({'color': 'green'});
			}
			else if (minutes > 0) {
			$(".detailed-chapter-upload-date")[idx].textContent = `${minutes} min${minutes === 1 ? "" : "s"} ago`;
			$($(".detailed-chapter-upload-date")[idx]).css({'color': 'green'});
			$(".compact-chapter-upload-date")[idx].textContent = `${minutes} min${minutes === 1 ? "" : "s"} ago`;
			$($(".compact-chapter-upload-date")[idx]).css({'color': 'green'});
			}
			else if (seconds > 0) {
			$(".detailed-chapter-upload-date")[idx].textContent = `${seconds} second${seconds === 1 ? "" : "s"} ago`;
			$($(".detailed-chapter-upload-date")[idx]).css({'color': 'green'});
			$(".compact-chapter-upload-date")[idx].textContent = `${seconds} second${seconds === 1 ? "" : "s"} ago`;
			$($(".compact-chapter-upload-date")[idx]).css({'color': 'green'});
			}
			idx += 1;
		});
		$("#chapterTitleSearch").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$("#chapterTable tr").filter(function() {
			$(this).toggle($(this).find("td").text().toLowerCase().indexOf(value) > -1)
			});
		});
	   
	   applyRead(1);
	});
	
	function listMode(mode) {
		modes = ["detailed", "compact", "volumeCovers"];
		for (var i = 0; i < modes.length; i++) {
			if (i == mode-1) {
			$(`#${modes[i]}Mode`).addClass("s");
			$(`#${modes[i]}View`).removeClass("d-none");
			}
			else {
			$(`#${modes[i]}Mode`).removeClass("s");
			$(`#${modes[i]}View`).addClass("d-none");
			}
		}
		if (mode != 3) window.localStorage.setItem("viewMode", mode);
		if (modes[mode-1] == "volumeCovers") {
			var formData = new FormData();
			formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
			if ($("#volumeCoversView").children().length == 0) {
			$.ajax({
				type: "POST",
				url: "/api/get_volume_covers/{{ slug }}/",
				processData: false,
				contentType: false,
				data: formData,
				success: function (data) {
					data["covers"].forEach((cover) => {
						$("#volumeCoversView").append(`<a data-toggle="modal" onclick="setImage('${cover[1]}')" data-target="#imagemodal"><img class="mb-1" src="${cover[2]}" onerror='if (this.src != &quot;${cover[1]}&quot;) this.src=&quot;${cover[1]}&quot;'></a>`);
				});
			}
			});
			}
			
		}
	}
	   
	function setImage(cover) {
		$("#imagepreview").attr("src", cover);
		$("#openOriginal").attr("onclick", `window.open('${cover}', '_blank')`);
	}
	   
	function applyRead(mode){
		let data = JSON.parse(window.localStorage.getItem("guyaread"));
		if (data == null) data = {};
		
		let read = data["{{ slug }}"];
	   	if (read == null) read = []
		
		switch(mode){
			case 1:
				document.getElementsByClassName("read-or-not").forEach(e => {
					if (read.includes(e.getAttribute("data-num")))
						e.innerHTML = '<i class="fa fa-check"></i>';
					});
			case 2:
				document.getElementsByClassName("chapter-box").forEach(e => {
				if (read.includes(e.getAttribute("data-num")))
					e.className = e.className + " hasread";
				});
		}
	}
	   
	function setRead(num, e){
		let data = JSON.parse(window.localStorage.getItem("guyaread"));
		if (data == null) data = {};
		
		let newdata = data["{{ slug }}"];
		if (newdata == null) newdata = [];
		
		if (newdata.includes(num)){
			for( var i = 0; i < newdata.length; i++){
				if ( newdata[i] === num) { newdata.splice(i, 1); i--;}
			}
			e.innerHTML = '';
		} else {
			newdata.push(num);
			e.innerHTML = '<i class="fa fa-check"></i>';
		}
		
		data["{{ slug }}"] = newdata;
		
		
		window.localStorage.setItem("guyaread", JSON.stringify(data));
	}
   </script>
{% endblock %}
{% block body %}
<style>
   .active {
	background-color:red;
	color: white;
   }
   h1 {
	font-size: 1.4em;
   }

   p {
	color: #dedede;
   }

   html, html.h-100 {
	background-attachment: fixed;
	background-position: 50% 10%;
	background-size: 1500px;
	background-image: url('/static/img/bg_box.png');
	background-color:black !important;
   }
   body {
	background: none !important;
	background-color: none !important;
   }
	.read-or-not{
		color: green;
		text-align: center;
	}
	
	.hasread{
		opacity: 0.45;
	}
	
	.read-or-not:hover{
		cursor: pointer;
	}

</style>
   <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
			<img src="" id="imagepreview" style="width: 100%; height: 100%;" >
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" id="openOriginal">Open original</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
   </div>
   <div class="container-fluid page-series">
	<div class="bs-docs-section clearfix mt-1">
		<div class="row justify-content-center">
			<div class="col-lg-2 col-md-3 col-sm-11 col-xs-12 mb-4 side-cover">
			<div class="list-item ">
				<div class="list-content ">
					<div class="list-body d-flex justify-content-center">
						<span class="text-white text-white font-weight-bold">
						</span>
					</div>
				</div>
				<div class="media media-3x4 justify-content-center">
					<picture >
						<source type="image/webp" srcset="{{ cover_vol_url_webp }}" class="img-fluid"  alt="{{ series }} manga">
						<img src="{{ cover_vol_url }}" class="img-fluid" alt="{{ series }} manga">
					</picture>
				</div>
			</div>
			<div class="card sidecard">
				<div class="card-body">
					<table class="table table-borderless table-sm small">
						<tbody>
						<tr>
							<th>Author</th>
							<td class="text-sm" style="">{{ author }}</td>
						</tr>
						<tr>
							<th>Artist</th>
							<td class="text-sm" style="">{{ artist }}</td>
						</tr>
						<tr>
							<th>Views</th>
							<td class="text-sm" style="">{{ views }}</td>
						</tr>
						<tr>
							<th>Last Updated</th>
							<td id="last_added" class="last-added" class="text-sm" style=""></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			</div>
			<div class="col-lg-8 col-md-7 col-sm-11 col-xs-12 series-content">
			<article>
				<picture>
					<source type="image/webp" srcset="{{ cover_vol_url_webp }}" class="img-fluid"  alt="{{ series }} manga">
					<img src="{{ cover_vol_url }}" class="img-fluid" alt="{{ series }} manga">
				</picture>
				<table class="table table-borderless table-sm small" style="display: none">
					<tbody>
						<tr>
							<th>Author</th>
							<td class="text-sm" style="">{{ author }}</td>
						</tr>
						<tr>
							<th>Artist</th>
							<td class="text-sm" style="">{{ artist }}</td>
						</tr>
						<tr>
							<th>Views</th>
							<td class="text-sm" style="">{{ views }}</td>
						</tr>
						<tr>
							<th>Last Updated</th>
							<td class="text-sm last-added"></td>
						</tr>
					</tbody>
				</table>
				<h1>{{ series }}</h1>
				{% if alt_titles %}
					{% for alt in alt_titles %}
						<h2>
						{{ alt }}
						</h2>
					{% endfor %}
				{% endif %}
				{{ synopsis|linebreaks }}
			</article>
			<div class="btn-group"  role="group" >
				<button type="button" id="detailedMode" class="tag-display-mode-toggle btn" onclick="listMode(1); applyRead(1)">Detailed</button>
				<button type="button" id="compactMode" class="tag-display-mode-toggle btn" onclick="listMode(2); applyRead(2)">Compact</button>
				<button type="button" id="volumeCoversMode" class="tag-display-mode-toggle btn" onclick="listMode(3)">Volume Covers</button>
				<a href="http://{{ root_domain }}/read/other/rss/{{ slug }}" target="_blank"><i class="fa fa-rss"></i></a>
			</div>
			
			
			
			<div id="compactView" class="d-none" style="font-size: .75rem">
				
					{% for volume, data in volume_list %}
						<div class="card col-12 mb-3" style="border-radius: 0px;">
						<h6 class="card-title mt-2 mb-0">Volume {{ volume }}</h6>
						<div class="row mb-0 pt-0">
						{% for chapter in data %}
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-3">
							<a href="/read/manga/{{ slug }}/{{ chapter.1 }}/1" class="chapter-box" data-num="{{ chapter.0 }}"><p class="text-center mb-1 chapter-number">{{ chapter.0 }}</p><p class="text-center small mb-1 compact-chapter-upload-date"></p><p class="text-center text-muted small mb-1 chapter-group">{{ chapter.2 }}</p></a>
						</div>
						{% endfor %}
						</div>
						</div>
					{% endfor %}
				
			</div>
			<div id="detailedView" class="d-none table-responsive">
				<table id="chapters" class="table table-hover">
						<thead>
						<tr>                     
							<th scope="col">Title&nbsp;&nbsp;&nbsp;&nbsp;<input class="form-control-sm" id="chapterTitleSearch" type="text" placeholder="⌕ Search"></th>
							<th scope="col">Group</th>
							<th scope="col">Last Updated</th>
							<th scope="col">Read</th>
							<th scope="col" style="padding-left:13px;"><i class="fa fa-download"></i></th>
						</tr>
						</thead>
						<tbody id="chapterTable">
						{% for chapter, title, ch_slug, group, upload_date, volume in chapter_list %}                        
							<tr class="table-default">                           
								<td scope="row"><a href="/read/manga/{{ slug }}/{{ ch_slug }}/1">{{ chapter }} - {{ title }}</a></td>
								<td scope="row">{{ group }}</td>
								<td scope="row" class="detailed-chapter-upload-date"></td>
								<td scope="row" class="read-or-not" onclick="setRead('{{ chapter }}', this)" data-num="{{ chapter }}"></td>
								<td scope="row" class="detailed-chapter-download-chapter"><a class="text-muted" data-toggle="tooltip" data-placement="top" title="Download this chapter" href="/api/download_chapter/{{ slug }}/{{ ch_slug }}"><i class="fa fa-download"></i></a></td>
							</tr>
						{% endfor %}
						</tbody>
				</table>
			</div>
			<div id="volumeCoversView" class="d-none"></div>
			</div>
		</div>
	</div>
   </div>                
{% endblock %}
