{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg-dark">
   <head>
      <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
      <title>{{ series_title }}</title>
      
      <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"> </script>
      
      {% comment %} <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"> {% endcomment %}
      <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"> </script>
      <link rel="stylesheet" href="{% static  'css/bootstrap.min.css' %}">
      <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"> </script>
      <script>
        $(document).ready(function(){
            $("#chapterTitleSearch").on("keyup", function() {
                //console.log("test")
                var value = $(this).val().toLowerCase();
                $("#chapterTable tr").filter(function() {
                $(this).toggle($(this).find("td").text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
        </script>
   </head>
   <body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
         <a class="navbar-brand" href="#">KaguyaLib</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
               <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="/reader">Manga</a>
               </li>
               <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Other
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Fancomics</a>
                  <a class="dropdown-item" href="#">Indexer</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Buy me catgirls</a>
               </div>
               </li>
               <li class="nav-item">
               <a class="nav-link disabled" href="/about">About</a>
               </li>
            </ul>

         </div>
      </div>
   </nav>
   <div class="container-fluid">
      <div class="bs-docs-section clearfix pt-2">
         <div class="row justify-content-center">
            <div class="col-lg-2 col-md-4 col-xs-12 mb-4">
               <div class="list-item rounded">
                  <div class="list-content">
                     <div class="list-body d-flex justify-content-between text-center">
                        <span class="text-white text-white font-weight-bold">
                        <i class="far fa-eye text-muted mr-2"></i>
                        {{ series }}
                        </span>
                     </div>
                  </div>
                  <div class="media media-3x4 justify-content-center py-2">
                     <img src="https://images-na.ssl-images-amazon.com/images/I/81%2B380N1RFL.jpg" class="img-fluid" style="width: 15vw" >
                  </div>
               </div>
               <div class="card">
                  <div class="card-body">
                     <table class="table table-borderless">
                        <tbody>
                           <tr>
                              <th>Last Updated</th>
                              <td class="text-muted text-sm" style="text-align: right">{{ chapter_list.0.4 }}</th>
                           </tr>
                           <tr>
                              <th>Author</th>
                              <td class="text-muted text-sm" style="text-align: right">{{ author }}</th>
                           </tr>
                           <tr>
                              <th>Artist</th>
                              <td class="text-muted text-sm" style="text-align: right">{{ artist }}</th>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="col-lg-7 col-md-8 col-xs-12 text-muted">
               <div class="heading">
                  <h6 class="text-highlight">
                     Description
                  </h6>
                  <p>{{ synopsis|linebreaks }}</p>
               </div>
               <div class="btn-group"  role="group" >
                  <button type="button" class="tag-display-mode-toggle btn btn-primary btn-sm">Detailed</button>
                  <button type="button" class="tag-display-mode-toggle btn btn-primary btn-sm">Compact</button>
               </div>
               <table id="chapters" class="table table-hover">
                     <thead>
                        <tr>                     
                           <th scope="col">Title&nbsp;&nbsp;&nbsp;&nbsp;<input class="form-control-sm" id="chapterTitleSearch" style="color: #fff !important; background-color: #272B30 !important; border: 1px solid #000 !important" type="text" placeholder="Search.."></th>
                           <th scope="col">Group</th>
                           <th scope="col">Uploaded</th>
                        </tr>
                     </thead>
                     <tbody id="chapterTable">
                        {% for chapter, title, ch_slug, group, upload_date in chapter_list %}                        
                           <tr class="table-default">                           
                                 <td scope="row"><a href="/reader/series/{{ slug }}/{{ ch_slug }}/1">{{ chapter }} - {{ title }}</a></th>
                                 <td scope="row">{{ group }}</td>
                                 <td scope="row">{{ upload_date }}</td>                                 
                           </tr>
                        {% endfor %}
                     </tbody>
               </table>
            </div>
         </div>
      </div>
   </body>
</html>