{% extends "layout.html" %} {% load static %} {% block head %}
<title>Read {{ series }} | Guya.moe</title>
<meta name="twitter:description" content="Read {{ series }} series. No ads. No bad reader. All guya." />
<meta property="og:description" content="Read {{ series }} series. No ads. No bad reader. All guya." />
<meta name="description" content="Read {{ series }} manga series by {{ author }}.{{ alt_titles_str|safe }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Read {{ series }} | Guya.moe" />
<meta name="twitter:image" content="https://i.imgur.com/jBhT5LV.png" />
<meta property="og:image" content="https://i.imgur.com/jBhT5LV.png" />
<meta name="author" content="{{ author }}" />
<script defer>
    function zpad(n) {
        if (n < 10) return '0' + n;
        return n;
    }

    function listMode(mode) {
        let availableFeatures = {{ available_features | safe }};
        let availableModes = ["detailed", "compact", "volumeCovers"].filter(e => availableFeatures.includes(e));
        if (availableModes.length <= 1) {
            // Hide the buttons if there's only one view
            availableModes.forEach(m => {
                document.getElementById(`${m}Mode`).classList.add("d-none");
                document.getElementById(`${m}View`).classList.remove("d-none");
            });
        } else {
            availableModes.forEach(m => {
                if (m == mode) {
                    document.getElementById(`${m}Mode`).classList.add("s");
                    document.getElementById(`${m}View`).classList.remove("d-none");
                } else {
                    document.getElementById(`${m}Mode`).classList.remove("s");
                    document.getElementById(`${m}View`).classList.add("d-none");
                }
            });
        }
        if (mode == "volumeCovers") {
            let formData = new FormData();
            formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
            let volumeCovers = document.getElementById("volumeCoversView");
            if (volumeCovers.childNodes.length === 0) {
                fetch("/api/get_volume_covers/{{ slug }}/", {
                    method: "POST",
                    body: formData
                }).then(data => data.json()).then(data => data["covers"].forEach((cover) => {
                    volumeCovers.insertAdjacentHTML("beforeend", `<a data-toggle="modal" img-source="${cover[1]}" onclick="setImage(this)" data-target="#imagemodal"><img class="mb-1" src="${cover[2]}" onerror='if (this.src != &quot;${cover[1]}&quot;) this.src=&quot;${cover[1]}&quot;'></a>`);
                }));
            }
        }
    }

    function setImage(element) {
        document.getElementById("imagepreview").removeAttribute("src");
        document.getElementById("imagepreview").src = element.getAttribute("img-source");
        document.getElementById("openOriginal").onclick = () => window.open(`${element.getAttribute("img-source")}`, '_blank');

        let prevButton = document.getElementById("volumePrev");
        let nextButton = document.getElementById("volumeNext");
        if (element.previousSibling) {
            prevButton.removeAttribute("disabled");
            prevButton.onclick = () => setImage(element.previousSibling);
        } else {
            prevButton.setAttribute("disabled", true);
        }
        if (element.nextSibling) {
            nextButton.removeAttribute("disabled");
            nextButton.onclick = () => setImage(element.nextSibling);
        } else {
            nextButton.setAttribute("disabled", true);
        }
    }

    async function markAll(e) {
        let chapters = document.querySelectorAll("tr[data-chapter]").map(e => e.getAttribute("data-chapter"));
        let slug = "{{ slug }}";
        let source = "{{ reader_modifier }}";
        if (e.classList.contains("all-read")) {
            await globalHistoryHandler.removeAllChapters(slug, source);
            e.classList.remove("all-read");
        } else {
            await globalHistoryHandler.addChapters(slug, source, chapters);
            e.classList.add("all-read");
        }
        updateAllRead();
    }

    // This function assumes we've applied read already, so we skip a remote trip
    async function updateRead(chapter, standalone = true, markRead) {
        let slug = "{{ slug }}";
        let source = "{{ reader_modifier }}";
        if (standalone) {
            let read = document.querySelectorAll("tr.is-read[data-chapter]").map(e => e.getAttribute("data-chapter"));
            if (read.includes(chapter)) {
                document.querySelector(`[data-chapter="${chapter}"]`).classList.remove("is-read");
                await globalHistoryHandler.removeChapter(slug, source, chapter);
            } else {
                document.querySelector(`[data-chapter="${chapter}"]`).classList.add("is-read");
                await globalHistoryHandler.addChapter(slug, source, chapter);
            }
            updateAllRead();
        } else {
            if (markRead) {
                return globalHistoryHandler.addChapter(slug, source, chapter);
            } else {
                return globalHistoryHandler.removeChapter(slug, source, chapter);
            }
        }
    }

    async function updateAllRead() {
        let slug = "{{ slug }}";
        let source = "{{ reader_modifier }}";
        let read = await globalHistoryHandler.getReadChapters(slug, source);

        if (document.querySelectorAll("tr[data-chapter]").length === read.length) {
            document.querySelector('th.read-icon').classList.add("all-read");
        } else {
            document.querySelector('th.read-icon').classList.remove("all-read");
        }

        document.querySelectorAll("[data-chapter]").forEach(item => {
            let chapter = item.getAttribute("data-chapter");
            if (read.includes(chapter)) {
                item.classList.add("is-read");
            } else {
                item.classList.remove("is-read");
            }
        });
    }

    {% if "admin" in available_features %}
    window.addEventListener("load", () => {
        document.getElementById("submitForm").addEventListener("click", (e) => {
            e.preventDefault();
            document.getElementById("modalSubmit").insertAdjacentHTML("afterbegin", `<div id="uploadingChapter" class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>`);
            let formElement = document.getElementById("newChapterForm");
            let formData = new FormData(formElement);
            formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
            fetch("/api/upload_new_chapter/{{ slug }}/", {
                method: 'POST',
                body: formData
            }).then(data => data.json()).then(data => {
                document.getElementById("uploadingChapter").remove();
                if (data["response"] === "success") {
                    document.getElementById("modalSubmit").insertAdjacentHTML("afterbegin", `<div id="uploadResult" class="btn btn-success"><i class="fa fa-check"></i></div>`);
                } else {
                    document.getElementById("modalSubmit").insertAdjacentHTML("beforebegin", `<p id="uploadResult">Error uploading chapter.</p>`);
                }
                setTimeout(() => document.getElementById("uploadResult").remove(), 5000);
            }).catch(e => {
                document.getElementById("uploadingChapter").remove();
                document.getElementById("modalSubmit").insertAdjacentHTML("beforebegin", `<p id="uploadResult">Unspecified error, the chapter may be partially uploaded.</p>`);
                setTimeout(() => document.getElementById("uploadResult").remove(), 5000);
            });
        });
    });

    function loadGroups(slug) {
        let scanGroup = document.getElementById("scanGroup");
        if (scanGroup.options.length === 0) {
            fetch("https://raw.githubusercontent.com/appu1232/guyamoe/master/api/data_cache/all_groups.json")
                .then(data => data.json())
                .then(data => {
                    for (let group in data) {
                        scanGroup.insertAdjacentHTML("beforeend", `<option value="${data[group]}">${data[group]}</option>`);
                    }
                });
        }
    }
    {% endif %}

    function prettifyLastUpdatedTable() {
        let chapterList = {{ chapter_list | safe }};
        let now = new Date();
        let updaters = [
            document.querySelectorAll(".detailed-chapter-upload-date"),
            {% if "compact" in available_features %}
            document.querySelectorAll(".compact-chapter-upload-date")
            {% endif %}
        ];
        chapterList.forEach((chapter, idx) => {
            let chapterDate = new Date(Date.UTC(chapter[5][0], chapter[5][1], chapter[5][2], chapter[5][3], chapter[5][5], chapter[5][5], 0));
            if (isNaN(chapterDate.getUTCSeconds())) {
                return;
            }
            let delta = Math.abs(now - chapterDate) / 1000;
            let days = Math.floor(delta / 86400);
            delta -= days * 86400;

            let hours = Math.floor(delta / 3600) % 24;
            delta -= hours * 3600;

            let minutes = Math.floor(delta / 60) % 60;
            delta -= minutes * 60;

            let seconds = parseInt(delta % 60);

            if (days >= 7) {
                updaters.forEach(e => {
                    e[idx].textContent = `${chapterDate.getFullYear()}-${zpad(chapterDate.getMonth() + 1)}-${zpad(chapterDate.getDate())}`;
                    e[idx].classList.add('text-muted');
                });
            }
            else if (days < 7 && days > 0) {
                updaters.forEach(e => {
                    e[idx].textContent = `${days} day${days === 1 ? "" : "s"} ago`;
                    e[idx].classList.add('text-muted');
                });
            }
            else if (hours > 0) {
                updaters.forEach(e => {
                    e[idx].textContent = `${hours} hour${hours === 1 ? "" : "s"} ago`;
                    e[idx].style.color = "green";
                });
            }
            else if (minutes > 0) {
                updaters.forEach(e => {
                    e[idx].textContent = `${minutes} min${minutes === 1 ? "" : "s"} ago`;
                    e[idx].style.color = "green";
                });
            }
            else if (seconds > 0) {
                updaters.forEach(e => {
                    e[idx].textContent = `${seconds} second${seconds === 1 ? "" : "s"} ago`;
                    e[idx].style.color = "green";
                });
            }
        });
    }

    function initSearchHandler() {
        let chapterTable = document.getElementById("chapterTable");
        document.getElementById("chapterTitleSearch").addEventListener("keyup", (e) => {
            let val = e.target.value.toLowerCase();
            chapterTable.childNodes.forEach(e => {
                e.style = (val && !e.textContent.toLowerCase().includes(val)) ? "display:none" : undefined;
            });
        });
    }

    let semaphore = ((callback) => {
        let historyReady = false;
        let windowLoaded = false;

        let execute = () => {
            if (historyReady && windowLoaded) {
                callback();
            }
        };

        let history = () => {
            historyReady = true;
            execute();
        };

        let loaded = () => {
            windowLoaded = true;
            execute();
        }

        return {
            history,
            loaded
        }
    })(updateAllRead);
    
    window.addEventListener("load", () => {
        listMode("detailed");
        prettifyLastUpdatedTable();
        initSearchHandler();
        semaphore.loaded();
    });

    window.addEventListener("history-ready", () => {
        semaphore.history();
    });

</script>
{% endblock %} {% block body %}
<style>
    .active {
        background-color: red;
        color: white;
    }

    h1 {
        font-size: 1.4em;
    }

    p {
        color: #dedede;
    }

    html,
    html.h-100 {
        background-attachment: fixed;
        background-position: 50% 10%;
        background-size: 1500px;
        background-image: url("/static/img/bg_box.png");
        background-color: black !important;
    }

    body {
        background: none !important;
        background-color: none !important;
    }
</style>
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img src="" id="imagepreview" style="width: 100%; height: 100%;" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="volumePrev">
                    Prev
                </button>
                <button type="button" class="btn btn-default" id="volumeNext">
                    Next
                </button>
                <button type="button" class="btn btn-default" id="openOriginal">
                    Open original
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
{% if "admin" in available_features %}
<div class="modal" id="uploadModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="formVal1" class="modal-title">Upload New Chapter</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form id="newChapterForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-5">
                            <label for="chapterNumber" >Chapter Number</label>
                            <input required type="number" step="1.0" class="form-control-sm col-6" name="chapterNumber" id="chapterNumber" value="{{ chapter_list.0.0|add:'1' }}">
                        </div>
                        <div class="col-3">
                            <label for="volumeNumber" >Volume</label>
                            <input required type="number" step="1.0" class="form-control-sm col-8" name="volumeNumber" id="volumeNumber" value="{{ chapter_list.0.5 }}">
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-7">
                            <label for="scanGroup" >Group</label>
                            <div class="input-group">
                                <select required class="form-control-sm" name="scanGroup" id="scanGroup">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <label for="chapterTitle" class="d-block" >Chapter Title</label>
                            <input required type="text" class="form-control-sm col-12" name="chapterTitle" id="chapterNumber">
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <label for="chapterPages">Chapter Pages (as .zip)</label>
                            <input required type="file" accept=".zip" name="chapterPages" class="form-control-file" id="chapterPages">
                        </div>
                    </div>
                    <input type="hidden" name="slug" value="{{ slug }}">
                </div>
                <div id="modalSubmit" class="modal-footer">
                    <button type="button" id="submitForm" class="btn btn-primary">Upload Chapter</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
<div class="container-fluid page-series">
    <div class="bs-docs-section clearfix mt-1">
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-3 col-sm-11 col-xs-12 mb-4 side-cover">
                <div class="list-item">
                    <div class="list-content">
                        <div class="list-body d-flex justify-content-center">
                            <span class="text-white text-white font-weight-bold"> </span>
                        </div>
                    </div>
                    <div class="media media-3x4 justify-content-center">
                        <picture>
                            {% if cover_vol_url_webp %}
                            <source type="image/webp" srcset="{{ cover_vol_url_webp }}" class="img-fluid"
                                alt="{{ series }} manga" />
                            {% endif %}
                            <img src="{{ cover_vol_url }}" class="img-fluid" alt="{{ series }} manga" />
                        </picture>
                    </div>
                </div>
                <div class="card sidecard">
                    <div class="card-body">
                        <table class="table table-borderless table-sm small">
                            <tbody>
                                {% for type, value in metadata %}
                                <tr>
                                    <th>{{ type }}</th>
                                    <td class="text-sm">{{ value }}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-11 col-xs-12 series-content">
                <article>
                    <picture>
                        <source type="image/webp" srcset="{{ cover_vol_url_webp }}" class="img-fluid"
                            alt="{{ series }} manga" />
                        <img src="{{ cover_vol_url }}" class="img-fluid" alt="{{ series }} manga" />
                    </picture>
                    <table class="table table-borderless table-sm small" style="display: none;">
                        <tbody>
                            {% for type, value in metadata %}
                            <tr>
                                <th>{{ type }}</th>
                                <td class="text-sm">{{ value }}</td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <h1>{{ series }}</h1>
                    {% if alt_titles %}
                    {% for alt in alt_titles %}
                    <h2>
                        {{ alt }}
                    </h2>
                    {% endfor %}
                    {% endif %}
                    {% if original_url %}
                    <a href="{{ original_url }}">View Original</a>
                    {% endif %}
                    {{ synopsis|linebreaks }}
                </article>
                <div class="btn-group" role="group">
                    {% if "detailed" in available_features %}
                    <button type="button" id="detailedMode" class="tag-display-mode-toggle btn"
                        onclick="listMode('detailed');">
                        Detailed
                    </button>
                    {% endif %}
                    {% if "compact" in available_features %}
                    <button type="button" id="compactMode" class="tag-display-mode-toggle btn"
                        onclick="listMode('compact');">
                        Compact
                    </button>
                    {% endif %}
                    {% if "volumeCovers" in available_features %}
                    <button type="button" id="volumeCoversMode" class="tag-display-mode-toggle btn"
                        onclick="listMode('volumeCovers')">
                        Volume Covers
                    </button>
                    {% endif %}
                    {% if "rss" in available_features %}
                    <a href="http://{{ root_domain }}/read/other/rss/{{ slug }}" target="_blank"><i
                            class="fa fa-rss"></i></a>
                    {% endif %}
                    {% if "admin" in available_features %}
                    <a href="#" onclick="loadGroups('{{ slug }}')" data-toggle="modal" data-target="#uploadModal"><i class="float-right fa fa-upload fa-lg" ></i></a>
                    {% endif %}
                </div>
                {% if "compact" in available_features %}
                <div id="compactView" class="d-none" style="font-size: 0.75rem;">
                    {% for volume, data in volume_list %}
                    <div class="card col-12 mb-3" style="border-radius: 0px;">
                        <h6 class="card-title mt-2 mb-0">Volume {{ volume }}</h6>
                        <div class="row mb-0 pt-0">
                            {% for chapter in data %}
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-3" data-chapter="{{ chapter.0 }}">
                                <a href="/read/manga/{{ slug }}/{{ chapter.1 }}/1" class="chapter-box">
                                    <p class="text-center mb-1 chapter-number">
                                        {{ chapter.0 }}
                                    </p>
                                    <p class="text-center small mb-1 compact-chapter-upload-date"></p>
                                    <p class="text-center text-muted small mb-1 chapter-group">
                                        {{ chapter.2 }}
                                    </p>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% if "detailed" in available_features %}
                <div id="detailedView" class="d-none table-responsive">
                    <table id="chapters" class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" class="read-icon" onclick="markAll(this)"></th>
                                <th scope="col">
                                    Title&nbsp;&nbsp;&nbsp;&nbsp;<input class="form-control-sm" id="chapterTitleSearch"
                                        type="text" placeholder="⌕ Search" />
                                </th>
                                <th scope="col">Group</th>
                                <th scope="col">Last Updated</th>
                                {% if "download" in available_features %}
                                <th scope="col" style="padding-left: 12px;">
                                    <i class="fa fa-download"></i>
                                </th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody id="chapterTable">
                            {% for chapter_list_value, chapter, title, ch_slug, group, upload_date, volume in chapter_list %}
                            <tr class="table-default" data-chapter="{{ chapter }}">
                                <td scope="row" class="read-icon" onclick="updateRead('{{ chapter }}')"></td>
                                <td scope="row" class="chapter-title">
                                    <a href="/read/{{ reader_modifier }}/{{ slug }}/{{ ch_slug }}/1">
                                        {% if chapter_list_value %}
                                        {{ chapter_list_value }}
                                        {% endif %}
                                        {% if chapter_list_value and title %}
                                         -
                                        {% endif %}
                                        {{ title }}
                                    </a>
                                </td>
                                <td scope="row">{{ group }}</td>
                                <td scope="row" class="detailed-chapter-upload-date">{{ upload_date }}</td>
                                {% if "download" in available_features %}
                                <td scope="row" class="detailed-chapter-download-chapter">
                                    <a class="text-muted" data-toggle="tooltip" data-placement="top"
                                        title="Download this chapter"
                                        href="/api/download_chapter/{{ slug }}/{{ ch_slug }}"><i class="fa fa-download"></i>
                                    </a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
                {% if "volumeCovers" in available_features %}
                <div id="volumeCoversView" class="d-none"></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    // History tagging
    tag();
</script>
{% endblock %}