{% extends "layout.html" %}
{% load static %}
{% block head %}
   <title>{{ series_title }}</title>
   <script>
      $(function () {
         listMode(window.localStorage.getItem("viewMode"));
      });
      $(document).ready(function(){
         $("#chapterTitleSearch").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#chapterTable tr").filter(function() {
               $(this).toggle($(this).find("td").text().toLowerCase().indexOf(value) > -1)
            });
         });
         $('#submitForm').click(function () {
            $("#modalSubmit").prepend(`<div id="uploadingChapter" class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>`)
            // var formData = new FormData();
            var formElem = document.getElementById("newChapterForm");
            var formData = new FormData(formElem);
            formData.append("csrfmiddlewaretoken", "{{ csrf_token }}")
            $.ajax({
               type: "POST",
               url: "/api/upload_new_chapter/{{ slug }}/",
               processData: false,
               contentType: false,
               csrfmiddlewaretoken: '{{ csrf_token }}',
               data: formData,
               success: function (data) {
                  if (data["response"] == "success") {
                     $("#uploadingChapter").remove();
                     $("#modalSubmit").prepend(`<div id="finishedUpload" class="btn btn-success"><i class="fa fa-check"></i></div>`);
                     setTimeout(function() {$("#finishedUpload").remove()}, 2000);
                  }
                  else {
                     $("#uploadingChapter").remove();
                     $("#modalSubmit").prepend(`<p id="errorUpload">Error uploading chapter.</p>`);
                     setTimeout(function() {$("#errorUpload").remove()}, 3000);
                  }
               },
               error: function (data) {

               }
            });
            
            return false;
         });
      });

      $('testest').submit( function () {
			var formdata = $(this).serialize();
			$.ajax({
			    type: "POST",
			    url: "submit.php",
			    data: formdata,
			 });
			return true;
		});
      
      function listMode(mode) {
         if (mode == 1){
            console.log("test")
            $("#detailedMode").removeClass("btn-primary");
            $("#compactMode").addClass("btn-primary");
            $("#detailedView").removeClass("d-none");
            $("#compactView").addClass("d-none");
            window.localStorage.setItem("viewMode", 1)
         }
         else {
            $("#compactMode").removeClass("btn-primary");
            $("#detailedMode").addClass("btn-primary");
            $("#compactView").removeClass("d-none");
            $("#detailedView").addClass("d-none");
            window.localStorage.setItem("viewMode", 2)
         }
      }
      function loadGroups(slug) {
         if (document.getElementById("scanGroup").options.length === 0){
            $.getJSON(`/api/get_groups/${slug}`, (data) => {
               data["groups"].forEach((group) => $("#scanGroup").append(`<option value="${group}">${group}</option>`))
            });
         }
      }
   </script>
{% endblock %}
{% block body %}
<style>
   .active {
      background-color:red;
      color: white;
   }
</style>
   <div class="modal" id="uploadModal">
      <div class="modal-dialog">
         <div class="modal-content">
         
         <!-- Modal Header -->
         <div class="modal-header">
            <h4 id="formVal1" class="modal-title">Upload New Chapter</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>
         <form id="newChapterForm">
            <div class="modal-body">
               <div class="row">
                  <div class="col-5">
                     <label for="chapterNumber" >Chapter Number</label>
                     <input required type="number" step="0.1" class="form-control-sm col-6" name="chapterNumber" id="chapterNumber" value="{{ chapter_list.0.0|add:"1" }}">
                  </div>
                  <div class="col-3">
                     <label for="volumeNumber" >Volume</label>
                     <input required type="number" step="1.0" class="form-control-sm col-8" name="volumeNumber" id="volumeNumber" value="{{ chapter_list.0.5 }}">
                  </div>
               </div>
               <div class="row mt-4">
                  <div class="col-7">
                     <label for="scanGroup" >Group</label>
                     <div class="input-group">
                        <select required class="form-control-sm" name="scanGroup" id="scanGroup">
                        </select>
                     </div>
                  </div>
               </div>
               <div class="row mt-4">
                  <div class="col-12">
                     <label for="chapterTitle" class="d-block" >Chapter Title</label>
                     <input required type="text" class="form-control-sm col-12" name="chapterTitle" id="chapterNumber">
                  </div>
               </div>
               <div class="row mt-4">
                  <div class="col">
                     <label for="chapterPages">Chapter Pages (as .zip)</label>
                     <input required type="file" accept=".zip" name="chapterPages" class="form-control-file" id="chapterPages">
                  </div>
               </div>
               <input type="hidden" name="slug" value="{{ slug }}">
            </div>
            <div id="modalSubmit" class="modal-footer">
               <button type="button" id="submitForm" class="btn btn-primary">Upload Chapter</button>
               <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
         </form>
         </div>
      </div>
   </div>
   <div class="container-fluid">
      <div class="bs-docs-section clearfix pt-2">
         <div class="row justify-content-center">
            <div class="col-lg-2 col-md-4 col-xs-12 mb-4">
               <div class="list-item rounded">
                  <div class="list-content">
                     <div class="list-body d-flex justify-content-between text-center">
                        <span class="text-white text-white font-weight-bold">
                        {{ series }}
                        </span>
                     </div>
                  </div>
                  <div class="media media-3x4 justify-content-center py-2">
                     <img src="https://images-na.ssl-images-amazon.com/images/I/81%2B380N1RFL.jpg" class="img-fluid" style="width: 15vw" >
                  </div>
               </div>
               <div class="card">
                  <div class="card-body">
                     <table class="table table-borderless table-sm small">
                        <tbody>
                           <tr>
                              <th>Last Updated</th>
                              <td class="text-muted text-sm" style="">{{ chapter_list.0.4 }}</th>
                           </tr>
                           <tr>
                              <th>Author</th>
                              <td class="text-muted text-sm" style="">{{ author }}</th>
                           </tr>
                           <tr>
                              <th>Artist</th>
                              <td class="text-muted text-sm" style="">{{ artist }}</th>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="col-lg-7 col-md-8 col-xs-12 text-muted">
               <div class="heading">
                  <h6 class="text-highlight">
                     Description
                  </h6>
                  <p>{{ synopsis|linebreaks }}</p>
               </div>
               {% if is_mod %}
                  <a href="#" onclick="loadGroups('{{ slug }}')" data-toggle="modal" data-target="#uploadModal"><i class="float-right fa fa-upload fa-lg" ></i></a>
               {% endif %}
               <div class="btn-group"  role="group" >
                  <button type="button" id="detailedMode" class="tag-display-mode-toggle btn btn-sm" onclick="listMode(1)">Detailed</button>
                  <button type="button" id="compactMode" class="tag-display-mode-toggle btn btn-sm" onclick="listMode(2)">Compact</button>
               </div>
               
               <div id="compactView" class="d-none" >
                  <div class="row">
                     {% for chapter, title, ch_slug, group, upload_date, volume in chapter_list %}
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 pt-4">
                           <a href="/reader/series/{{ slug }}/{{ ch_slug }}/1"><button class="btn btn-link w-100 font-weight-light text-center" style="border: 1px solid #666; box-shadow: 1px 2px 2px 2px black;" >{{ chapter }}</button></a>
                        </div>
                     {% endfor %}
                  </div>
               </div>
               <div id="detailedView" class="d-none">
                  <table id="chapters" class="table table-hover">
                        <thead>
                           <tr>                     
                              <th scope="col">Title&nbsp;&nbsp;&nbsp;&nbsp;<input class="form-control-sm" id="chapterTitleSearch" style="color: #fff !important; background-color: #272B30 !important; border: 1px solid #000 !important" type="text" placeholder="Search.."></th>
                              <th scope="col">Group</th>
                              <th scope="col">Uploaded</th>
                              {% if is_mod %}
                              <th scope="col">Edit</th>
                              {% endif %}
                           </tr>
                        </thead>
                        <tbody id="chapterTable">
                           {% for chapter, title, ch_slug, group, upload_date, volume in chapter_list %}                        
                              <tr class="table-default">                           
                                    <td scope="row"><a href="/reader/series/{{ slug }}/{{ ch_slug }}/1">{{ chapter }} - {{ title }}</a></th>
                                    <td scope="row">{{ group }}</td>
                                    <td scope="row">{{ upload_date }}</td>         
                                    {% if is_mod %}
                                    <th scope="row"><i class="fa fa-cog"></i></th>
                                    {% endif %}                        
                              </tr>
                           {% endfor %}
                        </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}